// BASE COLORS
$white: #ffffff;
$black: #161720;

$light-gray: #f8f8f8;
$mid-gray: #e0e0e0;
$gray: #88898f;
$dark-gray: #403f47;

// PRIMARY COLORS
$blue: #0067b3;
$cerulean: #0797ff;
$dark-blue: #18489a;
$indigo: #397cee;
$mid-blue: #127cd3;
$light-blue: #13d1f6;

$light-periwinkle: #f9fbff;
$coral: #f86a6a;
$lemon: #fce513;
$bee: #ffcd4e;
$rosa: #fdbfce;
$seafoam: #baeedc;
$beauty-pink: #f05d6b;
$pacific: #b0d6e7;
$lilac: #f0f3fc;

// CATEGORY
$blush: #faf3f0;
$pink: #fe3d6c;
$violet: #b4278c;

$cream: #fff9ed;
$yolk: #ff9900;
$lightsky: #f1f7fe;

$light-sage: #d2e3e2;
$teal: #00a99c;
$light-aqua: #eafcff;
$aqua: #15a2b9;

// SYSTEM VALIDATION
$brick: #ec483e;
$freshmint: #55c9a5;
$chili: #ff4e4e;

// MISC
$silver: #e7eaf4;
$opal: #fafbfc;
$lightyellow: #fff9ee;

//SOCIAL
$social: #1778f2;

//LAZY LOAD
$super-light-gray: #ebedf0;
