.billpay {
    &__content {
        & > div {
            width: 1400px;
            margin: 0 auto;
            padding: 88px 224px 104px 224px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(1400px) {
                width: 100%;
                margin: 0;
            }

            @include respond(tablet) {
                padding: 53px 32px 50px 32px;
            }

            @include respond(mobile) {
                padding: 53px 12px 50px 12px;
            }

            & > h3 {
                margin-bottom: 32px;
                text-align: center;
            }

            & .table-split {
                width: 100%;

                display: flex;
                justify-content: space-between;

                @include respond(mobile) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
            }

            & .straight-table {
                width: 100%;

                padding: 32px 24px;

                @include respond(mobile) {
                    padding: 24px 32px;
                }

                & > ul {
                    min-height: min-content;
                    column-fill: auto;
                    column-count: 6;

                    & > li {
                        margin-bottom: 16px;
                    }

                    @include respond(mobile) {
                        column-count: 2;
                    }
                }
            }
        }

        &-search {
            width: 100%;
            margin-bottom: 32px;
            background-color: $white;
            box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);
            display: flex;

            & > img {
                margin-left: 21px;
            }

            & > input {
                margin-left: 7px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                font-family: "Open Sans", Helvetica, Arial, sans-serif;
                color: $black;
                padding: 20px 20px 20px 0;
                width: 100%;
                border: none;
                outline: none;

                &::placeholder {
                    color: $dark-gray;
                }
            }
        }
    }

    &__category {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: min-content;
        margin-bottom: 32px;
        box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);

        &.half {
            display: inline-flex;

            width: 48%;
            align-self: flex-start;

            & > .billpay__category-content ul {
                column-count: 3;
            }

            @include respond(mobile) {
                width: 100%;

                & > .billpay__category-content ul {
                    column-count: 2;
                }
            }
        }

        @include respond(mobile) {
            margin-bottom: 0;
        }

        &.active {
            & > .billpay__category-header {
                & > img {
                    transform: rotate(180deg);
                }
            }
        }

        &:not(.active) {
            @include respond(mobile) {
                min-height: min-content;

                & > .billpay__category-content {
                    display: none;
                }
            }
        }

        &-header {
            background-color: $silver;
            height: 53px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 24px;
            justify-content: space-between;

            &.half {
                width: 50%;
            }

            @include respond(mobile) {
                height: 60px;
                padding: 0 19px;
            }

            & > p {
                color: $black;
            }

            & > img {
                display: none;

                @include respond(mobile) {
                    display: block;
                }
            }
        }

        &-content {
            padding: 32px 24px;
            background-color: $white;

            &.half {
                width: 50%;
            }

            @include respond(mobile) {
                padding: 24px 32px;
            }

            & > ul {
                min-height: min-content;
                column-fill: auto;
                column-count: 6;
                // column-gap: 32px;

                @include respond(tablet) {
                    column-count: 4;
                }

                @include respond(mobile) {
                    column-count: 2;
                }

                & > li {
                    color: $black;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 16px;

                    @include respond(mobile) {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }

    &__support {
        width: 100%;
        background-color: $light-periwinkle;
        background: #f0f3fc;

        & > div {
            height: 350px;
            max-width: 651px;
            padding: 103px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(tablet) {
                height: 350px;
                padding: 87px 0;
            }

            & > h3 {
                text-align: center;
                margin-bottom: 16px;

                @include respond(mobile) {
                    width: 173px;
                }
            }

            & > p {
                text-align: center;
                color: $dark-gray;
                margin-bottom: 16px;

                & > span {
                    font-weight: bold;
                }
            }

            & a {
                margin: 0 auto;
                width: 205px;
                text-decoration: none;
                font-weight: bold;
                color: $dark-gray;
            }
        }
    }
}
