.help {
    background-color: $light-periwinkle;

    & > div {
        width: 100%;
        max-width: 1400px;
        min-height: 691px;
        margin: 0 auto;
        padding: 80px 90px 82px 90px;
        display: flex;
        flex-direction: column;

        @include respond(tablet) {
            width: 100%;
            padding: 80px 32px 82px 32px;
        }

        @include respond(mobile) {
            padding: 15px 16px 36px 16px;
            min-height: 100%;
        }

        @include respond(320px) {
            padding: 15px 12px 36px 12px;
        }

        & > h2 {
            margin-bottom: 27px;

            @include respond(tablet) {
                width: 100%;
            }

            @include respond(mobile) {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 16px;
                font-weight: bold;
            }
        }
    }

    &-accordions {
        display: flex;
        width: 100%;
        justify-content: space-between;

        @include respond(tablet) {
            flex-direction: column;
        }

        & > div {
            display: flex;
            flex-direction: column;
            width: 598px;

            @include respond(tablet) {
                width: 100%;
            }

            & > .faq-accordion {
                background-color: $white;
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                border: 1px solid #e3e8ee;
                border-radius: 4px;
                width: 100%;
                max-height: 98px;
                box-shadow: 0px 5px 10px rgba(189, 193, 202, 0.1);

                @include respond(mobile) {
                    margin-bottom: 16px;
                }

                &.active {
                    max-height: 1000px;

                    & > .faq-accordion__header {
                        & > img {
                            transform: rotate(180deg);
                        }
                    }

                    & > .faq-accordion__content {
                        display: block;
                    }
                }

                & > .faq-accordion__header {
                    min-height: 42.38px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding: 25px 18px;

                    @include respond(mobile) {
                        padding: 16px;

                        & > span {
                            width: 85%;
                        }
                    }

                    & > img {
                        transition: all ease-in 0.1s;
                        transform: rotate(0deg);
                    }
                }

                & > .faq-accordion__content {
                    padding: 25px 18px;

                    @include respond(mobile) {
                        padding: 16px;
                    }

                    display: none;
                    padding-top: 16px;
                    border-top: 1px solid $mid-gray;
                    box-shadow: inset 0px 5px 10px rgba(189, 193, 202, 0.15);
                }
            }
        }
    }

    &__search {
        &-container {
            min-height: 1302px;
            height: fit-content;
            padding: 80px 0;

            &.no-result {
                min-height: 472px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                & > img {
                    margin-bottom: 16px;
                }

                & > p {
                    margin-bottom: 4px;
                }

                & > span {
                    color: $dark-gray;
                }
            }

            @include respond(tablet) {
                min-height: max-content;
                width: 640px;
            }

            @include respond(mobile) {
                width: auto;
                margin: 0 16px;
            }
        }

        &--faq-category {
            &:nth-of-type(2) {
                margin-top: 114px;
            }

            margin: 56px 0 40px 0;

            & > span {
                margin-bottom: 4px;
            }
            & > p {
                margin-bottom: 32px;
            }

            & > .faq-accordion {
                background-color: $white;
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                border: 1px solid #e3e8ee;
                border-radius: 4px;
                width: 100%;
                max-height: 98px;
                box-shadow: 0px 5px 10px rgba(189, 193, 202, 0.1);

                &.active {
                    max-height: 1000px;

                    & > .faq-accordion__header {
                        & > img {
                            transform: rotate(180deg);
                        }
                    }

                    & > .faq-accordion__content {
                        display: block;
                    }
                }

                & > .faq-accordion__header {
                    min-height: 42.38px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding: 20px 16px;

                    & > img {
                        transition: all ease-in 0.1s;
                        transform: rotate(0deg);
                    }

                    & > span {
                        width: 87%;
                    }
                }

                & > .faq-accordion__content {
                    display: none;
                    padding: 20px 16px;
                    padding-top: 16px;
                    border-top: 1px solid #e0e0e0;
                    box-shadow: inset 0px 5px 10px rgba(189, 193, 202, 0.15);
                }
            }
        }
    }

    &__inner {
        &-container {
            margin-top: 88px !important;
            padding: 80px 0 120px 0;

            @include respond(tablet) {
                margin-top: 56px !important;
                min-height: max-content;
                width: 640px;
            }

            @include respond(mobile) {
                width: auto;
                margin: 0 16px;
            }
        }

        &--topic {
            display: flex;
            align-items: center;
            margin-bottom: 28px;

            & img {
                margin-right: 18px;
            }
        }

        &--question-count {
            margin-bottom: 24px;

            &.smac {
                margin-bottom: 34px;

                @include respond(mobile) {
                    & > span {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }

        &-smac {
            display: flex;
            justify-content: space-between;

            @include respond(mobile) {
                display: block;
            }
        }

        &--left {
            max-width: 180px;

            @include respond(mobile) {
                display: none;
            }

            &-list {
                list-style: none;
                margin-top: 34px;

                & > .filter-list-item {
                    margin-bottom: 24px;

                    &.activeFilter {
                        & > a {
                            font-weight: bold;
                        }
                    }

                    & > a {
                        text-decoration: none;
                    }
                }
            }
        }

        &--mobile-dropdown-filter {
            display: none;
            width: 100%;

            & > select {
                border: 1px solid #88898f;
                padding: 8px 15px;
                width: inherit;
                margin: 6px 0 45px 0;
                word-break: normal;

                & > option {
                    width: inherit;
                }
            }

            @include respond(mobile) {
                display: block;
            }
        }

        &--right {
            max-width: 770px;
            justify-content: flex-end;
        }
    }

    &__support {
        width: 100%;
        background-color: $lilac;

        & > div {
            height: 350px;
            max-width: 651px;
            padding: 103px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(tablet) {
                height: 350px;
                padding: 87px 0;
            }

            & > h3 {
                text-align: center;
                margin-bottom: 16px;

                @include respond(mobile) {
                    width: 324px;
                }
            }

            & > p {
                text-align: center;
                color: $dark-gray;
                margin-bottom: 16px;

                & > span {
                    font-weight: bold;
                }

                & > a {
                    text-decoration: none;
                    font-weight: bold;
                    color: $dark-gray;
                }
            }

            & > a {
                margin: 0 auto;
                width: 205px;
            }
        }
    }
}

.topics {
    background-color: $light-periwinkle;
    width: 100%;

    & > div {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 88px 100px 88px;
        display: flex;
        flex-direction: column;

        @include respond(tablet) {
            width: 100%;
            padding: 0 32px 40px 32px;
        }

        @include respond(mobile) {
            padding: 0px 12px 40px 12px;
        }

        & > h2 {
            margin-bottom: 24px;

            @include respond(mobile) {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 16px;
                font-weight: bold;
            }
        }
    }

    &__boxes {
        display: flex;
        flex-wrap: wrap;
        width: 1400px;

        @include respond(1280px) {
            width: 100%;
        }

        & > div {
            background: $white;
            height: 112px;
            width: 288px;
            box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);
            border-radius: 4px;
            display: flex;
            align-items: center;
            padding: 26px 24px 26px 16px;
            margin: 0 24px 24px 0;

            @include respond(mobile) {
                width: 100%;
                margin: 0 0px 24px 0;
            }

            & > img {
                margin-right: 16px;
            }
        }
    }
}
