.press-release {
    & .text-container {
        padding: 62px 80px;
        max-width: 857px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        @include respond(mobile) {
            padding: 40px 32px;
        }
    }

    & .container-colored {
        & > h1 {
            letter-spacing: 4px;
            display: flex;
            flex-direction: column;
            margin: auto;
            text-align: left;
            width: fit-content;

            @include respond(tablet) {
                font-size: 50px;
                line-height: 58px;
            }

            @include respond(mobile) {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 1.6px;
            }

            & > .container-colored__h1--block {
                margin-left: 120px;

                @include respond(mobile) {
                    margin-left: 0px;
                }
            }
        }
    }

    & .blog-paragraph {
        margin-bottom: 28px;
    }

    & .large-image {
        position: relative;
        max-height: 500px;
        top: -70px;
        z-index: 50;
        max-width: 1224px;
        margin: 0 auto;
        text-align: center;

        // @include respond(tablet) {

        // }

        & > img {
            width: 100%;
            margin-bottom: 16px;
        }

        & > .text-container {
            top: -16px;
        }
    }

    & .big-image {
        position: relative;
        height: auto;
        z-index: 50;
        width: 1224px;
        left: 50%;
        right: auto;
        transform: translate(-50%, 0);
        margin: -70px 0 40px 0;

        @include respond(tablet) {
            width: 100%;

            & > img {
                width: inherit;
                object-fit: cover;
            }
        }

        @include respond(mobile) {
            margin: -50px 0 15px 0;
        }
    }

    & .get-direction-text {
        position: absolute;
        right: 0;
        text-decoration: none;
        color: $dark-gray;

        &:hover {
            color: #0067b3;
        }

        &::after {
            display: none;
            content: url("../images/icons/get-directions-arrow.svg");
            padding-left: 12px;
        }

        &:hover:after {
            display: inline;
        }

        @include respond(tablet) {
            position: relative;
            margin: 16px 0 0 24px;
        }
    }

    & .expanded-image {
        &.active {
            display: flex;
        }

        & > .modal__close {
            top: 44px;
            right: 44px;
        }

        & > .modal__content {
            width: 537px;
            height: 649px;

            @include respond(mobile) {
                width: 287px;
                height: 349px;
            }

            & > img {
                height: inherit;
                width: inherit;
            }
        }
    }

    & .event-recap {
        &-carousel {
            display: flex;
            align-items: center;

            margin: 32px auto;
            height: 448px;

            @include respond(tablet) {
                justify-content: center;
                height: 408px;
            }

            @include respond(768px) {
                height: 348px;
            }

            @include respond(360px) {
                justify-content: flex-start;
                flex-direction: column;
                height: 100%;
            }

            & > .left-box-bg {
                width: 184px;
                height: 100%;

                @include respond(768px) {
                    width: 124px;
                }

                @include respond(360px) {
                    width: 235px;
                    height: 357px;
                    position: absolute;
                    left: 0;
                }
            }

            &__slider-container {
                display: flex;

                @include respond(360px) {
                    flex-direction: column;
                    position: relative;
                    left: 0;
                    width: 100%;
                }
            }

            &__featured {
                margin-left: -90px;
                width: 288px;
                height: 393px;
                position: relative;

                cursor: pointer;

                @include respond(tablet) {
                    width: 238px;
                    height: 353px;
                }

                @include respond(768px) {
                    width: 198px;
                    height: 293px;
                }

                @include respond(360px) {
                    width: 278px;
                    height: 319px;
                    margin: 20px 0 0 49px;
                }

                & > img {
                    position: relative;
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                }

                &-title {
                    position: absolute;
                    bottom: 0;
                    height: 80px;
                    width: 100%;

                    padding: 16px;
                }
            }

            &__thumbnail-slider {
                // display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                overflow: hidden;

                width: 600px;
                height: 393px;
                margin-left: 25px;

                &.desktop {
                    display: flex;
                    @include respond(360px) {
                        display: none;
                    }
                }

                &.mobile {
                    display: none;

                    @include respond(360px) {
                        display: flex;
                    }

                    & .owl-nav {
                        position: absolute;
                        top: 35%;
                        transform: translate(0, -35%);
                        width: 100%;
                        height: 0;
                        padding: 0 21px;

                        & .owl-next,
                        & .owl-prev {
                            &.disabled {
                                display: none;
                            }

                            background: #ffffff;
                            border: 1px solid #e0e0e0;
                            border-radius: 50%;
                            padding: 12px 16px !important;
                            box-sizing: border-box;
                            box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);
                        }

                        & > .owl-prev {
                            float: left;
                        }

                        & > .owl-next {
                            float: right;
                        }
                    }
                }

                @include respond(tablet) {
                    width: 540px;
                    height: 353px;
                }

                @include respond(768px) {
                    width: 450px;
                    height: 293px;
                }

                @include respond(360px) {
                    margin: 44px 0 0 0;
                    flex-wrap: nowrap;
                    height: 184px;
                    width: 100%;
                }
            }

            &__thumbnail {
                width: 184px;
                height: 184px;
                margin-bottom: 25px;

                cursor: pointer;

                @include respond(tablet) {
                    width: 164px;
                    height: 164px;
                }

                @include respond(768px) {
                    width: 134px;
                    height: 134px;
                }

                @include respond(360px) {
                    width: 184px;
                    height: 184px;
                    margin-bottom: 0;
                }

                & > img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                }
            }

            &__controls {
                position: absolute;
                width: 100%;

                @include respond(360px) {
                    display: none;
                }

                & .controls__arrow {
                    background: #ffffff;
                    border: 1px solid #e0e0e0;
                    border-radius: 50%;
                    padding: 12px 16px;
                    box-sizing: border-box;
                    box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);
                    padding: 12px 16px;
                }

                & > .controls__arrow--left {
                    margin-left: -25px;
                    float: left;

                    @include respond(tablet) {
                        margin-left: 0;
                    }
                }

                & > .controls__arrow--right {
                    float: right;
                    margin-right: -25px;

                    @include respond(tablet) {
                        margin-right: 0;
                    }
                }
            }
        }

        &-image-gallery {
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 32px auto;

            @include respond(tablet) {
                height: 300px;
            }

            @include respond(768px) {
                height: 250px;
            }

            @include respond(360px) {
                height: 100%;
                padding-bottom: 24px;
            }

            & > .image-gallery-title {
                margin-bottom: 24px;

                @include respond(360px) {
                    font-size: 20px;
                    line-height: 28px;
                    margin-top: 34px;
                }

                @include respond(320px) {
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            &__slider {
                width: 1224px;

                @include respond(tablet) {
                    width: 872px;
                }

                @include respond(768px) {
                    width: 612px;
                }

                @include respond(360px) {
                    width: 100%;
                    padding-left: 12px;
                }
            }

            &__image {
                width: 288px;
                height: 288px;

                cursor: pointer;

                & > img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                }

                @include respond(tablet) {
                    width: 200px;
                    height: 200px;
                }

                @include respond(768px) {
                    width: 135px;
                    height: 135px;
                }

                @include respond(360px) {
                    width: 184px;
                    height: 184px;
                }
            }

            & .owl-nav {
                position: absolute;
                top: 40%;
                transform: translate(0, -40%);
                width: 100%;
                height: 0;

                @include respond(360px) {
                    padding: 0 41px 0 29px;
                }

                & .owl-next,
                & .owl-prev {
                    padding: 12px 16px !important;
                    background: #ffffff;
                    border: 1px solid #e0e0e0;
                    border-radius: 50%;
                    box-sizing: border-box;
                    box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);

                    &.disabled {
                        display: none;
                    }
                }

                & > .owl-prev {
                    float: left;
                    margin-left: -25px;

                    @include respond(360px) {
                        margin-left: 0;
                    }
                }

                & > .owl-next {
                    float: right;
                    margin-right: -25px;

                    @include respond(360px) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    & .container {
        & > .hr {
            @include respond(mobile) {
                display: none;
            }
        }
    }
}

.press-contact {
    height: 205px;
    margin-bottom: 67px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0.2) 2px, #f0f3fc 2px);
    background-size: 57px 57px;
    background-position: top center;

    & > h3 {
        color: $blue;
        margin-bottom: 16px;
    }

    & > h4 {
        color: #000;
        margin-bottom: 8px;
    }

    & > p {
        color: #000;
        margin-bottom: 8px;

        & > img {
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
