.footer {
    // display: none !important;

    position: relative;
    // min-height: 468px;
    min-height: fit-content; // FOR PHASE 1
    background: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: $white;
    }

    // FOR PHASE 1
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        padding: 0 84px;

        @include respond(mobile) {
            flex-direction: column;
            height: max-content;
            padding: 0 16px;
        }

        &--texts {
            @include respond(mobile) {
                margin: 32px auto;
            }

            & > ul li {
                list-style: none;
                display: inline;

                &:not(:first-child) {
                    margin-left: 16px;
                }

                & > a,
                a:hover,
                a:visited {
                    color: $white;
                    text-decoration: none;
                    font-weight: 400;
                }

                @include respond(mobile) {
                    display: block;
                    text-align: center;

                    &:not(:first-child) {
                        margin-left: 0;
                    }

                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
                }
            }
        }

        & > .hr--blue-m {
            display: none;
            width: 100%;

            @include respond(mobile) {
                display: block;
            }
        }

        &--socials {
            @include respond(mobile) {
                margin: 32px auto;
            }

            & > ul li {
                display: inline;

                & > a {
                    text-decoration: none;
                }

                & > a img {
                    height: 32px;
                    width: auto;
                }

                &:not(:first-child) {
                    margin-left: 8px;

                    @include respond(mobile) {
                        margin-left: 16px;
                    }
                }
            }
        }
    }
    // /FOR PHASE 1

    &__forex {
        // display: none;
        position: relative;
        background: rgba(0, 103, 179, 0.3);
        height: 32px;
        padding-left: 84px;

        & > p {
            position: absolute;
            top: 5px;

            & > span {
                word-spacing: normal;

                & > text {
                    word-spacing: 16px;
                }

                & > strong {
                    margin-right: 16px;
                    word-spacing: normal;
                }
            }

            & > img {
                position: absolute;
            }

            & > .forex-tooltip:hover {
                cursor: pointer;
            }
        }

        & .forex-tooltip {
            display: inline-block;
            position: relative;
            margin-right: 4px;

            & > img {
                height: 16px;
            }
        }

        & .tooltip {
            display: none;
            z-index: 997;

            position: absolute;
            width: 371px;
            padding: 16px 28px 16px 16px;

            background-color: rgba(0, 0, 0, 0.8);
            border: none;

            top: -110px;
            left: -42px;
            word-spacing: normal !important;

            @include respond(tablet) {
                left: 0;
                top: -100px;
            }

            @include respond(360px) {
                top: -91px;
                left: -12px;
                width: 100vw;
                padding-right: 28px;
            }

            & > .close-button {
                height: 12px;
                width: 12px;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            & > a {
                text-decoration: none;
            }

            & > .break {
                @include respond(320px) {
                    display: none;
                }
            }

            &::after {
                content: " ";
                position: absolute;
                left: -20%;
                right: auto;
                bottom: -15px;
                border-bottom: none;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                border-top: 15px solid rgba(0, 0, 0, 0.8);
                transform: translate(-50%, 50%) rotate(-180);

                @include respond(tablet) {
                    display: none;
                }
            }
        }

        & .mobile-tooltip {
            display: none;
            z-index: 997;

            position: absolute;
            width: 100vw;
            padding: 16px 28px 16px 16px;

            background-color: rgba(0, 0, 0, 0.8);
            border: none;

            top: -91px;
            left: -12px;
            word-spacing: normal !important;

            & > .close-button {
                height: 12px;
                width: 12px;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            & > a {
                text-decoration: none;
            }
        }

        @include respond(tablet) {
            padding: 7px 12px;

            & > p {
                font-size: 12px;

                & > span {
                    word-spacing: 8px;
                }
            }
        }
    }

    &__messenger {
        display: none;
        position: absolute;
        // -webkit-position: sticky;
        left: 90%;
        top: -24px;
        bottom: 0px;
        // box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
        z-index: 99;

        & button {
            color: #007fff;
            font-size: 16px;
            line-height: 24px;

            img {
                margin: 0;
            }
        }

        @include respond(tablet) {
            display: none;
        }
    }

    img {
        padding: 0;
    }

    &__messenger-mobile {
        display: none;
        position: absolute;

        left: 90%;
        bottom: 0;
        // position: sticky;
        // -webkit-position: sticky;
        border-radius: 50%;
        z-index: 100;

        @include respond(tablet) {
            // display: block;
            position: relative;
            left: 90%;
        }

        @include respond(mobile) {
            left: 75%;
        }

        & button {
            color: #007fff;
            font-size: 16px;
            line-height: 24px;
        }

        & img {
            padding: 0px;
        }
    }

    &__content {
        display: none;
        padding: 48px 72px 50px 72px;
        color: $white;

        @include respond(1199px) {
            padding: 24px 0 28px 0;
        }

        @include respond(tablet) {
            padding: 24px 0 28px 0;
        }

        &--corporate-accordion {
            display: none;
        }

        & .row {
            & div {
                &:nth-child(1) {
                    flex: 1;

                    @include respond(tablet) {
                        flex: 0 0 66.66% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }

                    & .footer__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(2) {
                    flex: 2;

                    @include respond(tablet) {
                        flex: 0 0 33.33% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }

                    & .footer__content--col-items {
                        columns: 2;
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(3) {
                    flex: 1;

                    @include respond(tablet) {
                        flex: 0 0 33.33% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }

                    & .footer__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(4) {
                    flex: 1;
                    padding-right: 20px;

                    @include respond(tablet) {
                        flex: 0 0 33.33% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }

                    & .footer__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(5) {
                    flex: 2;

                    @include respond(tablet) {
                        flex: 0 0 66.66% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }
                }
            }
        }

        &--col-header {
            margin-bottom: 16px;
        }

        &--col-items {
            & li {
                margin-bottom: 16px;

                & a {
                    text-decoration: none;
                    color: $white;
                }
            }

            & p {
                margin-bottom: 16px;
            }

            & .footer__input-group {
                height: 48px;
                display: flex;
                width: 90%;
                margin-bottom: 8px;

                & .white {
                    &:after {
                        content: "\2014\2014";
                        letter-spacing: -2px;
                        margin-left: 8px;
                        color: $white;
                    }
                }

                @include respond(tablet) {
                    margin-bottom: 44px;
                }

                @include respond(mobile) {
                    width: 85%;
                }

                & input {
                    border: none;
                    background-color: $white;
                    flex: 0 0 65%;
                    color: $black;
                    font-weight: 600;

                    @include respond(tablet) {
                        width: 100%;
                    }

                    &::placeholder {
                        color: $gray;
                        font-weight: 400;
                    }
                }

                & button {
                    flex: 0 0 35%;
                    border: none;
                    background-color: $coral;

                    @include respond(tablet) {
                        padding: 16px;
                    }

                    &:hover {
                        color: $white;
                        background-color: #bf5353;
                    }
                }
            }

            & > .error-message {
                visibility: hidden;
                font-size: 12px;
                line-height: 18px;
                font-style: italic;
                font-weight: 400;
            }

            & .footer__social-media {
                & ul {
                    display: flex;
                    flex-direction: row;

                    & li {
                        margin-right: 10px;

                        & img {
                            height: 32px;
                            width: 32px;
                        }
                    }
                }
            }
        }
    }

    &__mobile-content {
        display: none;
        padding: 48px 72px 50px 72px;
        color: $white;
        width: inherit;

        @include respond(1199px) {
            padding: 24px 0 28px 0;
            // display: flex;
        }

        @include respond(tablet) {
            // display: flex;
            padding: 0;
        }

        & .accordion {
            cursor: pointer;
            width: 100%;
            transition: 0.4s;
            padding-bottom: 5px;
        }

        & .accordion:after {
            content: url("../images/angle-down.svg");
            margin-left: 5px;
            float: right;
        }

        & .active:after {
            content: url("../images/angle-up.svg");
        }

        & .panel {
            display: none;
            height: 0;
            transition: height 0.2s ease-out;
        }

        & .row {
            @include respond(tablet) {
                width: 100%;
            }

            @include respond(360px) {
                max-width: 360px;
            }

            @include respond(320px) {
                max-width: 320px;
            }
            & div {
                &:nth-child(1) {
                    flex: 1;

                    // @include respond(tablet) {
                    //     flex: 0 0 66.66% !important;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;

                        & > p {
                            padding: 16px 0;
                            margin-bottom: 0;
                        }
                    }

                    & .footer__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(2) {
                    flex: 2;

                    // @include respond(tablet) {
                    //     flex: 0 0 33.33% !important;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;

                        & > p {
                            padding: 16px 0;
                            margin-bottom: 0;
                        }
                    }

                    & .footer__content--col-items {
                        columns: 2;
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(3) {
                    flex: 1;

                    // @include respond(tablet) {
                    //     flex: 0 0 33.33% !important;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;

                        & > p {
                            padding: 16px 0;
                            margin-bottom: 0;
                        }
                    }

                    & .footer__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(4) {
                    flex: 1;
                    padding-right: 20px;

                    // @include respond(tablet) {
                    //     flex: 0 0 33.33% !important;
                    //     padding-right: 0;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;
                        padding-right: 0;

                        & > p {
                            padding: 16px 0;
                        }
                    }

                    & .footer__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(5) {
                    flex: 2;

                    // @include respond(tablet) {
                    //     flex: 0 0 66.66% !important;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;
                        width: 100%;

                        & > p {
                            margin-bottom: 0;
                        }

                        & .footer__content--col-items p {
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        &--col-header {
            margin-bottom: 16px;
        }

        &--col-items {
            & li {
                margin-bottom: 16px;

                & a {
                    text-decoration: none;
                    color: $white;
                }
            }

            & p {
                margin-bottom: 16px;
            }

            & .footer__input-group {
                height: 48px;
                display: flex;
                width: 90%;
                margin-bottom: 48px;

                & .white {
                    &:after {
                        content: "\2014\2014";
                        letter-spacing: -2px;
                        margin-left: 8px;
                        color: $white;
                    }
                }

                @include respond(mobile) {
                    width: 85%;
                }

                & input {
                    border: none;
                    background-color: $white;
                    flex: 0 0 65%;
                }

                & button {
                    flex: 0 0 35%;
                    border: none;
                    background-color: $coral;

                    @include respond(mobile) {
                    }
                }
            }

            & .footer__social-media {
                & ul {
                    display: flex;
                    flex-direction: row;

                    & li {
                        margin-right: 25px;
                    }
                }
            }
        }
    }

    &__copyright {
        bottom: 0;
        display: flex;
        // height: 120px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: $blue;

        // FOR PHASE 1
        height: fit-content;
        padding: 24px 0;
        // /FOR PHASE 1

        & img {
            width: 228px;
            position: relative;
        }

        &--text {
            color: rgba(255, 255, 255, 0.7) !important;
            font-size: 12px;
            text-align: center;
        }

        &--column {
            flex-direction: column;

            & > p {
                margin: 10px;
                color: white;
                text-align: center !important;
            }
        }
    }

    &__delivery {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: $blue;
        padding: 0 88px;
        justify-content: space-between;

        @include respond(mobile) {
            flex-direction: column;
            justify-content: center;
            padding: 14px 28px 7px 28px;
            height: 65px;
        }

        & > div {
            display: flex;
            align-items: center;

            & > a {
                white-space: nowrap;
                text-decoration: none;
                font-weight: 600;
                outline: none;
                color: $white;
                margin-right: 37px;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                @include respond(mobile) {
                    margin-right: 0px;
                    margin-bottom: 8px;
                    padding: 0 10.5px;
                }

                &:nth-of-type(1) {
                    @include respond(mobile) {
                        border-right: 1px solid #18489a;
                    }
                }
            }
        }

        & > span {
            white-space: nowrap;
            color: $white;

            @include respond(mobile) {
                font-size: 12px;
            }
        }
    }
}

.footer-new {
    // display: none !important;

    position: relative;
    min-height: 468px;
    // min-height: fit-content; // FOR PHASE 1
    background: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: $white;
    }

    // FOR PHASE 1
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        padding: 0 84px;

        @include respond(mobile) {
            flex-direction: column;
            height: max-content;
            padding: 0 16px;
        }

        &--texts {
            @include respond(mobile) {
                margin: 32px auto;
            }

            & > ul li {
                list-style: none;
                display: inline;

                &:not(:first-child) {
                    margin-left: 16px;
                }

                & > a,
                a:hover,
                a:visited {
                    color: $white;
                    text-decoration: none;
                    font-weight: 400;
                }

                @include respond(mobile) {
                    display: block;
                    text-align: center;

                    &:not(:first-child) {
                        margin-left: 0;
                    }

                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
                }
            }
        }

        & > .hr--blue-m {
            display: none;
            width: 100%;

            @include respond(mobile) {
                display: block;
            }
        }

        &--socials {
            @include respond(mobile) {
                margin: 32px auto;
            }

            & > ul li {
                display: inline;

                & > a {
                    text-decoration: none;
                }

                & > a img {
                    height: 32px;
                    width: auto;
                }

                &:not(:first-child) {
                    margin-left: 8px;

                    @include respond(mobile) {
                        margin-left: 16px;
                    }
                }
            }
        }
    }
    // /FOR PHASE 1

    &__forex {
        // display: none;
        position: relative;
        background: rgba(0, 103, 179, 0.3);
        height: 32px;
        padding-left: 84px;

        & > p {
            position: absolute;
            top: 5px;

            & > span {
                word-spacing: 15px;
            }

            & > img {
                position: absolute;
            }

            & > .forex-tooltip:hover {
                cursor: pointer;
            }
        }

        & .tooltip {
            display: none;
            z-index: 997;

            position: absolute;
            width: 371px;
            padding: 16px 28px 16px 16px;

            background-color: rgba(0, 0, 0, 0.8);
            border: none;

            top: -110px;
            left: 0;
            word-spacing: normal !important;

            // @include respond(tablet) {
            //     left: 10px;
            // }

            @include respond(360px) {
                left: -12px;
                width: 100vw;
                padding-right: 28px;
            }

            & > .close-button {
                height: 12px;
                width: 12px;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            & > a {
                text-decoration: none;
            }

            &::after {
                content: " ";
                position: absolute;
                left: 62%;
                right: auto;
                bottom: -15px;
                border-bottom: none;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                border-top: 15px solid rgba(0, 0, 0, 0.8);
                transform: translate(-50%, 50%) rotate(-180);

                @include respond(tablet) {
                    left: 49%;
                }

                @include respond(360px) {
                    left: 54%;
                }

                @include respond(320px) {
                    left: 60.5%;
                }
            }
        }

        @include respond(tablet) {
            padding: 7px 12px;

            & > p {
                font-size: 12px;

                & > span {
                    word-spacing: 8px;
                }
            }
        }
    }

    &__messenger {
        display: none;
        position: absolute;
        // -webkit-position: sticky;
        left: 90%;
        top: -24px;
        bottom: 0px;
        // box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
        z-index: 99;

        & button {
            color: #007fff;
            font-size: 16px;
            line-height: 24px;

            img {
                margin: 0;
            }
        }

        @include respond(tablet) {
            display: none;
        }
    }

    img {
        padding: 0;
    }

    &__messenger-mobile {
        display: none;
        position: absolute;

        left: 90%;
        bottom: 0;
        // position: sticky;
        // -webkit-position: sticky;
        border-radius: 50%;
        z-index: 100;

        @include respond(tablet) {
            // display: block;
            position: relative;
            left: 90%;
        }

        @include respond(mobile) {
            left: 75%;
        }

        & button {
            color: #007fff;
            font-size: 16px;
            line-height: 24px;
        }

        & img {
            padding: 0px;
        }
    }

    &__content {
        // display: none;
        padding: 48px 72px 50px 72px;
        color: $white;

        @include respond(tablet) {
            padding: 24px 0 28px 0;
            display: none;
        }

        &--corporate-accordion {
            // display: none;
        }

        & .row {
            & div {
                &:nth-child(1) {
                    flex: 1;

                    @include respond(tablet) {
                        flex: 0 0 66.66% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }

                    & .footer-new__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(2) {
                    flex: 2;

                    @include respond(tablet) {
                        flex: 0 0 33.33% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }

                    & .footer-new__content--col-items {
                        columns: 2;
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(3) {
                    flex: 1;

                    @include respond(tablet) {
                        flex: 0 0 33.33% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }

                    & .footer-new__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(4) {
                    flex: 1;
                    padding-right: 20px;

                    @include respond(tablet) {
                        flex: 0 0 33.33% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }

                    & .footer-new__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(5) {
                    flex: 2;

                    @include respond(tablet) {
                        flex: 0 0 66.66% !important;
                    }

                    @include respond(mobile) {
                        flex: 0 0 100% !important;
                    }
                }
            }
        }

        &--col-header {
            margin-bottom: 16px;
        }

        &--col-items {
            & li {
                margin-bottom: 16px;

                & a {
                    text-decoration: none;
                    color: $white;
                }
            }

            & p {
                margin-bottom: 16px;
            }

            & .footer-new__input-group {
                height: 48px;
                display: flex;
                width: 90%;
                margin-bottom: 8px;

                & .white {
                    &:after {
                        content: "\2014\2014";
                        letter-spacing: -2px;
                        margin-left: 8px;
                        color: $white;
                    }
                }

                @include respond(tablet) {
                    margin-bottom: 44px;
                }

                @include respond(mobile) {
                    width: 85%;
                }

                & input {
                    border: none;
                    background-color: $white;
                    flex: 0 0 65%;
                    color: $black;
                    font-weight: 600;

                    @include respond(tablet) {
                        width: 100%;
                    }

                    &::placeholder {
                        color: $gray;
                        font-weight: 400;
                    }
                }

                & button {
                    flex: 0 0 35%;
                    border: none;
                    background-color: $coral;

                    @include respond(tablet) {
                        padding: 16px;
                    }

                    &:hover {
                        color: $white;
                        background-color: #bf5353;
                    }
                }
            }

            & > .error-message {
                visibility: hidden;
                font-size: 12px;
                line-height: 18px;
                font-style: italic;
                font-weight: 400;
            }

            & .footer-new__social-media {
                & ul {
                    display: flex;
                    flex-direction: row;

                    & li {
                        margin-right: 10px;

                        & img {
                            height: 32px;
                            width: 32px;
                        }
                    }
                }
            }
        }
    }

    &__mobile-content {
        display: none;
        padding: 48px 72px 50px 72px;
        color: $white;
        width: inherit;

        // @include respond(1199px) {
        //     padding: 24px 0 28px 0;
        //     display: flex;
        // }

        @include respond(tablet) {
            padding: 24px 0 28px 0;

            display: flex;
            padding: 0;
        }

        & .accordion {
            cursor: pointer;
            width: 100%;
            transition: 0.4s;
            // border-bottom: 1px solid #0067b3;
            padding-bottom: 5px;
        }

        & .accordion:after {
            content: url("../images/angle-down.svg");
            margin-left: 5px;
            float: right;
        }

        & .active:after {
            content: url("../images/angle-up.svg");
        }

        & .panel {
            display: none;
            height: 0;
            transition: height 0.2s ease-out;
        }

        & .row {
            @include respond(tablet) {
                width: 100%;
            }

            @include respond(360px) {
                max-width: 360px;
            }

            @include respond(320px) {
                max-width: 320px;
            }
            & div {
                border-bottom: 1px solid #0067b3;

                &:nth-child(1) {
                    flex: 1;

                    // @include respond(tablet) {
                    //     flex: 0 0 66.66% !important;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;

                        & > p {
                            padding: 16px 0;
                            margin-bottom: 0;
                        }
                    }

                    & .footer-new__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(2) {
                    flex: 2;

                    // @include respond(tablet) {
                    //     flex: 0 0 33.33% !important;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;

                        & > p {
                            padding: 16px 0;
                            margin-bottom: 0;
                        }
                    }

                    & .footer-new__content--col-items {
                        columns: 2;
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(3) {
                    flex: 1;

                    // @include respond(tablet) {
                    //     flex: 0 0 33.33% !important;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;

                        & > p {
                            padding: 16px 0;
                            margin-bottom: 0;
                        }
                    }

                    & .footer-new__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(4) {
                    flex: 1;
                    padding-right: 20px;

                    // @include respond(tablet) {
                    //     flex: 0 0 33.33% !important;
                    //     padding-right: 0;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;
                        padding-right: 0;

                        & > p {
                            padding: 16px 0;
                            margin-bottom: 0;
                        }
                    }

                    & .footer-new__content--col-items {
                        @include respond(tablet) {
                            margin: 0 0 20px 16px;
                        }
                    }
                }

                &:nth-child(5) {
                    flex: 2;
                    // @include respond(tablet) {
                    //     flex: 0 0 66.66% !important;
                    // }

                    @include respond(tablet) {
                        flex: 0 0 100% !important;
                        width: 100%;
                        margin-top: 16px;

                        border-bottom: 0;

                        & > p {
                            margin-bottom: 0;
                        }

                        & .footer-new__content--col-items p {
                            padding-top: 0;
                        }
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        &--col-header {
            margin-bottom: 16px;
        }

        &--col-items {
            & li {
                margin-bottom: 16px;

                & a {
                    text-decoration: none;
                    color: $white;
                }
            }

            & p {
                margin-bottom: 16px;
            }

            & .footer-new__input-group {
                height: 48px;
                display: flex;
                width: 90%;
                margin-bottom: 48px;

                & .white {
                    &:after {
                        content: "\2014\2014";
                        letter-spacing: -2px;
                        margin-left: 8px;
                        color: $white;
                    }
                }

                @include respond(mobile) {
                    width: 85%;
                }

                & input {
                    border: none;
                    background-color: $white;
                    flex: 0 0 65%;
                }

                & button {
                    flex: 0 0 35%;
                    border: none;
                    background-color: $coral;

                    @include respond(mobile) {
                    }
                }
            }

            & .footer-new__social-media {
                & ul {
                    display: flex;
                    flex-direction: row;

                    & li {
                        margin-right: 25px;
                    }
                }
            }
        }
    }

    &__copyright {
        bottom: 0;
        display: flex;
        // height: 120px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: $blue;

        // FOR PHASE 1
        height: fit-content;
        padding: 24px 0;
        // /FOR PHASE 1

        & img {
            width: 228px;
            position: relative;
        }

        &--text {
            color: rgba(255, 255, 255, 0.7) !important;
            font-size: 12px;
            text-align: center;
        }

        &--column {
            flex-direction: column;

            & > p {
                margin: 10px;
                color: white;
                text-align: center !important;
            }
        }
    }

    &__delivery {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: $blue;
        padding: 0 88px;
        justify-content: space-between;

        @include respond(mobile) {
            flex-direction: column;
            justify-content: center;
            padding: 14px 28px 7px 28px;
            height: 65px;
        }

        & > div {
            display: flex;
            align-items: center;

            & > a {
                white-space: nowrap;
                text-decoration: none;
                font-weight: 600;
                outline: none;
                color: $white;
                margin-right: 37px;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                @include respond(mobile) {
                    margin-right: 0px;
                    margin-bottom: 8px;
                    padding: 0 10.5px;
                }

                &:nth-of-type(1) {
                    @include respond(mobile) {
                        border-right: 1px solid #18489a;
                    }
                }
            }
        }

        & > span {
            white-space: nowrap;
            color: $white;

            @include respond(mobile) {
                font-size: 12px;
            }
        }
    }
}
