.banner {
    background-color: #ffa8ae;
    position: relative;
    // height: 792px;
    height: 93vh;
    overflow: hidden;

    @include respond(mobile) {
        // margin-top: 56px !important;
        height: 500px;
    }

    &__yellow {
        background-color: $lemon;
        background-image: url("../images/dots.png");
        background-size: contain;
        background-position: bottom;
        width: 100%;
        height: 286px;
        position: absolute;
        top: 64px;

        @include respond(tablet) {
            top: 56px;
        }

        @include respond(mobile) {
            left: 0;
            width: 260px;
            height: 221px;
            top: 0;
            background-size: 200% 80%;
        }
    }

    &__shadow-gradient {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        position: absolute;
        width: 100%;
        height: 88px;
        top: 88px;
        z-index: 5;

        @include respond(tablet) {
            top: 112px;
            left: 0;
        }
    }

    &__pattern {
        background-image: repeating-radial-gradient(
            center center,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 2px,
            transparent 1px,
            transparent 100%
        ) !important;
        background-repeat: repeat;
        background-position: bottom;
        background-attachment: fixed;
        height: 55.17%;
        width: 100%;
        position: relative;
        // top: -9.15%;
        // right: 400px;

        @include respond(tablet) {
            right: 204px;
        }

        @include respond(mobile) {
            right: 94px;
        }
    }

    .main-carousel {
        display: none;

        &.active {
            display: block;
        }
    }

    &__featured {
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        width: 79%;
        // height: 85%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 24px;

        &.height75 {
            height: 75%;
        }

        @include respond(360px) {
            // right: -28px;
            //height: 378px;
            position: absolute;
            top: 56px;
            height: 444px;
        }
    }

    &__featured:nth-of-type(1) {
        background-image: url("../images/new-banner1.jpg");

        @include respond(360px) {
            background-image: url("../images/new-banner1-m.png");
            height: 444px;
            width: 260px;
        }
    }

    &__content {
        position: absolute;
        top: 50.63%;
        color: $white;
        width: 691px;
        width: 49%;
        margin-left: 88px;

        @include respond(tablet) {
            width: 74%;
            margin-left: 16px;

            h1 {
                letter-spacing: 4px;
                margin: 0;
            }
        }

        @include respond(mobile) {
            margin-left: 12px;
            top: 58.12%;
        }

        & h1:nth-of-type(2) {
            text-align: right;
        }
    }

    &__pagination {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 32px;
        z-index: 9;

        @include respond(tablet) {
            top: 96%;
            left: 50%;
            display: flex;
            justify-content: center;
            transform: translate(-50%, -50%);
        }
    }

    &__btn {
        display: block;
        margin-top: 8px;

        @include respond(mobile) {
            margin-top: 15px;
        }
    }
}

.banner-inner {
    position: relative;
    min-height: 318px;
    height: auto;
    //padding: 40px 20px;
    display: flex;
    justify-content: center;

    @include respond(tablet) {
        min-height: 200px;
    }

    &--blank {
        background-color: $dark-gray;
    }

    &--whatsnew {
        margin-top: 88px !important;
        background: url("../../assets/images/banner-whatsnew.png") no-repeat;
        background-size: cover;
        background-position: center right;
        align-items: center;
        height: 350px;

        @include respond(tablet) {
            margin-top: 56px !important;
            justify-content: flex-start;
            align-items: flex-end;
            padding-bottom: 40px;
            padding-left: 10%;
            height: 200px;
            background-position: 81% 50%;
        }

        & h1 {
            margin-top: 120px;
            padding-bottom: 12px;
            border-bottom: 8px solid $lemon;
            color: $white;

            @include respond(tablet) {
                top: 0;
                position: absolute;
                margin-top: 110px;
                font-size: 32px;
                line-height: 40px;
                padding-bottom: 5px;
                border-bottom: 4px solid $lemon;
                justify-content: start;
            }
        }
    }

    &--whatsnew-findevents {
        margin-top: 88px !important;
        background: url("../../assets/images/banner-whatsnew-findevents.png")
            no-repeat;
        background-size: cover;
        background-position: center right;

        height: 350px;

        & .search__input.mobile {
            display: none;
        }

        @include respond(tablet) {
            margin-top: 56px !important;
        }

        @include respond(mobile) {
            background-position: center left;

            & .search {
                width: 100%;
            }

            & .search__btn {
                display: none;
            }

            & .search__input.desktop {
                display: none;
            }

            & .search__input.mobile {
                display: block;
                text-align: center;
            }
        }

        & .banner-container {
            margin-bottom: 40px;
            color: $white;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;

            & > span {
                @include respond(mobile) {
                    font-size: 12px;
                    line-height: 18px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }

            & > h1 {
                @include respond(mobile) {
                    width: 50%;
                    text-align: center;
                }
            }

            & .container-1224 {
                margin: 0;
                width: 600px;

                @include respond(1223px) {
                    width: 90%;
                    margin: 0 5%;
                }

                @include respond(mobile) {
                    width: auto;
                    margin: 0 12px;
                }
            }
        }
    }

    &--events {
        margin-top: 88px !important;
        background: url("../../assets/images/banner-events.png") no-repeat;
        @include bgcover;
        align-items: center;

        @include respond(tablet) {
            height: 345px;
        }

        @include respond(mobile) {
            background: url("../../assets/images/banner-events-m.jpg") no-repeat;
            @include bgcover;
        }

        & p {
            margin-top: 60px;
            font-weight: 600;
            margin-bottom: 16px;
            color: $white;
        }

        & h1 {
            margin-bottom: 16px;
            color: $white;
        }

        &__input-group {
            width: 600px;
            height: 65px;
            background: rgba(64, 63, 71, 0.5);
            // opacity: 0.3;
            border: 2px solid #ffffff;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 0 20px;

            @include respond(tablet) {
                width: 90%;
                height: 56px;
            }

            & img {
                height: 24px;
                opacity: 1;
            }

            & input {
                border: 0;
                background-color: transparent;
                flex: 0 0 544‬px;
                width: 100%;
                color: $white;
                font-size: 16px;

                &::placeholder {
                    color: #fff;
                }

                &:hover,
                &:active,
                &:focus {
                    outline: none;
                }
            }
        }
    }

    &--stories {
        background: url("../../assets/images/banner-stories.jpg") no-repeat;
        @include bgcover;

        @include respond(tablet) {
            background: url("../../assets/images/banner-stories.jpg") no-repeat;
            @include bgcover;
        }

        @include respond(mobile) {
            background: url("../../assets/images/banner-stories-m.jpg")
                no-repeat;
            @include bgcover;
        }
    }

    &--advocacy {
        background: url("../../assets/images/banner-advocacy.png") no-repeat;
        @include bgcover;

        @include respond(tablet) {
            background: url("../../assets/images/banner-advocacy-m.png")
                no-repeat;
            @include bgcover;
        }
    }

    &--privacy-policy {
        margin-top: 88px !important;
        height: 360px;
        background: url("../../assets/images/banner-privacy.png") no-repeat;
        background-position: top right;
        background-size: cover;
        flex-direction: column;
        // @include bgcover;

        & .cookie-hide {
            @include respond(mobile) {
                display: none !important;
            }
        }

        @include respond(tablet) {
            margin-top: 56px !important;
        }

        @include respond(mobile) {
            background: url("../../assets/images/banner-privacy-m.png")
                no-repeat;
            background-size: cover;
            background-position: top right;

            height: 200px;
        }

        & > .banner-section__breadcrumbs {
            color: $black;

            top: 210px;
            left: 12px;

            & > a {
                @include respond(mobile) {
                    color: $black;
                    &:not(:last-child) {
                        background: url(../../assets/images/arrow-right-black.svg)
                            no-repeat right center;
                    }
                }
            }
        }

        & h1 {
            font-size: 48px;
            margin-top: 140px;
            margin-right: 200px;
            padding-bottom: 12px;
            text-align: center;
            color: $white;

            @include respond(tablet) {
                margin-top: 80px;
                font-size: 32px;
                line-height: 40px;
                padding-bottom: 5px;
                margin-left: 28px;
                justify-content: start;
                text-align: left;
            }
        }
    }

    &--terms-and-conditions {
        margin-top: 88px !important;
        height: 360px;
        background: url("../../assets/images/banner-terms-and-conditions.png")
            no-repeat;
        background-position: top right;
        background-size: cover;
        flex-direction: column;

        @include respond(tablet) {
            margin-top: 56px !important;
        }

        @include respond(mobile) {
            background: url("../../assets/images/banner-terms-and-conditions-m.png")
                no-repeat;
            background-position: top right;
            background-size: cover;
            height: 200px;
        }

        & > .banner-section__breadcrumbs {
            color: $black;

            top: 210px;
            left: 12px;

            & > a {
                @include respond(mobile) {
                    color: $black;
                    &:not(:last-child) {
                        background: url(../../assets/images/arrow-right-black.svg)
                            no-repeat right center;
                    }
                }
            }
        }

        & h1 {
            font-size: 48px;
            margin-top: 140px;
            margin-right: 200px;
            padding-bottom: 12px;
            text-align: center;
            color: $white;

            @include respond(tablet) {
                margin-top: 80px;
                font-size: 32px;
                line-height: 40px;
                padding-bottom: 5px;
                justify-content: start;
                margin-left: 28px;
                text-align: left;
            }

            @include respond(mobile) {
                margin-right: 0;
            }
        }
    }

    &--about {
        background: url("../../assets/images/banner-about.png") no-repeat;
        height: 350px;
        background-size: cover;
        background-position: top right;
        flex-direction: column;

        & > div {
            width: 90%;

            & h1 {
                color: $white;
                margin-top: 100px;
            }
        }

        @include respond(mobile) {
            height: 200px;
            background: url("../../assets/images/banner-about-m.png") no-repeat;
            background-size: cover;
            background-position: top right;
            flex-direction: column;
        }
    }

    &--contacts {
        background: url("../../assets/images/banner-contacts.jpg") no-repeat;
        height: 350px;
        background-size: cover;
        background-position: top right;
        flex-direction: column;

        & > div {
            width: 90%;

            & h1 {
                color: $white;
                margin-top: 100px;
            }
        }

        @include respond(mobile) {
            height: 200px;
            background: url("../../assets/images/banner-contacts-m.png")
                no-repeat;
            background-size: cover;
            background-position: top right;
            flex-direction: column;
        }
    }

    &--help {
        background: url("../../assets/images/banner-help.jpg") no-repeat;
        height: 350px;
        background-size: cover;
        background-position: top right;
        flex-direction: column;

        & > div {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;

            & h2 {
                color: $white;
                margin-top: 53px;
                margin-bottom: 16px;

                @include respond(1400px) {
                    padding-left: 0;
                }

                @include respond(tablet) {
                    text-align: center;
                }
            }
        }

        &__input-group {
            width: 717px;
            height: 65px;
            background: rgba(64, 63, 71, 0.5);
            border: 2px solid #ffffff;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 0 20px;

            @include respond(tablet) {
                width: 90%;
                height: 56px;
            }

            & img {
                height: 24px;
                opacity: 1;

                @include respond(mobile) {
                    display: none;
                }
            }

            & input {
                border: 0;
                background-color: transparent;
                flex: 0 0 544‬px;
                width: 100%;
                color: $white;
                font-size: 16px;

                &::placeholder {
                    color: #fff;
                }

                &:hover,
                &:active,
                &:focus {
                    outline: none;
                }
            }
        }

        @include respond(mobile) {
            height: 345px;
            background: url("../../assets/images/banner-help-m.jpg") no-repeat;
            background-size: cover;
            background-position: top right;
            flex-direction: column;
        }
    }

    &--services {
        // background: url("../../assets/images/banner-services.jpg") no-repeat;
        // @include bgcover;

        // @include respond(tablet) {
        //     background: url("../../assets/images/banner-services.jpg") no-repeat;
        //     @include bgcover;
        // }

        @include respond(mobile) {
            // background: url("../../assets/images/banner-services-m.jpg")
            //     no-repeat;
            // @include bgcover;
            flex-direction: column;

            & > div {
                width: 90%;

                & h1 {
                    color: $white;
                    margin-top: 100px;
                }
            }
        }
    }
}

.big-header {
    position: relative;
    height: 550px;

    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    // padding: 88px 24px 20px 24px;

    &.desktop {
        margin-top: 88px !important;

        @include respond(tablet) {
            display: none;
        }
    }

    &.mobile {
        display: none;
        margin-top: 56px !important;

        @include respond(tablet) {
            display: block;
        }
    }

    // hide breadcrumbs for now
    & > .banner-section__breadcrumbs {
        display: none;
    }
    // /hide breadcrumbs for now

    & > .desktop-banner {
        width: 100%;
        object-fit: cover;
        height: 100%;
        // position: absolute;
        overflow: hidden;

        @include respond(mobile) {
            display: none;
        }
    }

    & > .mobile-banner {
        display: none;
        width: inherit;
        object-fit: cover;
        height: 220px;
        position: absolute;

        @include respond(mobile) {
            display: block;
        }
    }

    @include respond(mobile) {
        height: 220px;

        & > .banner-section__breadcrumbs {
            position: absolute;
            top: 180px !important;
            left: 0px !important;
            padding-left: 10px !important;
            width: 100%;
            background: linear-gradient(
                180deg,
                rgba(22, 23, 32, 0) 0%,
                rgba(22, 23, 32, 0.43) 100%
            );

            & > a {
                @include respond(mobile) {
                    color: $white;
                    &:not(:last-child) {
                        background: url(../../assets/images/arrow-right.svg)
                            no-repeat right center;
                    }
                }
            }
        }
    }

    &--beauty-trends {
        background: url("../../assets/images/banner-beauty-trends.jpg")
            no-repeat;
        @include bgcover;

        @include respond(tablet) {
            background: url("../../assets/images/banner-beauty-trends.jpg")
                no-repeat;
            @include bgcover;
        }

        @include respond(mobile) {
            background: url("../../assets/images/banner-beauty-trends-m.jpg")
                no-repeat;
            @include bgcover;
        }
    }

    &--3ds {
        margin-top: 88px !important;
        background-color: #f6787b;
        // background: url("../../assets/images/banner-3ds.png") no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 50px;
        // @include bgcover;

        @include respond(tablet) {
            margin-top: 56px !important;
            padding: 150px;
        }

        @include respond(mobile) {
            padding: 30px;
            height: 220px;

            & > img {
                height: 138px;
                width: 233px;
            }
            // background: url("../../assets/images/banner-3ds-m.png") no-repeat;
            // @include bgcover;

            & > .banner-section__breadcrumbs {
                position: absolute;
                top: 180px !important;
                left: 0px !important;
                padding-left: 10px !important;
                width: 100%;
                background: linear-gradient(
                    180deg,
                    rgba(22, 23, 32, 0) 0%,
                    rgba(22, 23, 32, 0.43) 100%
                );

                & > a {
                    @include respond(mobile) {
                        color: $white;
                        &:not(:last-child) {
                            background: url(../../assets/images/arrow-right.svg)
                                no-repeat right center;
                        }
                    }
                }
            }
        }
    }

    &--promo {
        background: url("../../assets/images/banner-whatsnew-promo.png")
            no-repeat;
        @include bgcover;

        @include respond(mobile) {
            background: url("../../assets/images/banner-whatsnew-promo-m.png")
                no-repeat;
            @include bgcover;
        }
    }

    &--promo-easypay {
        // background: url("../../assets/images/banner-easypay-promo.png")
        //     no-repeat;
        // @include bgcover;
        background-color: $promo-yellow;
        display: flex;
        justify-content: center;

        & > img {
            width: 1217px;
            height: auto;
        }

        @include respond(mobile) {
            background: url("../../assets/images/banner-easypay-promo-m.png")
                no-repeat;
            background-size: contain;
            background-position: center;
            // background-position: 50% 70px;
            background-color: $promo-yellow;
            height: 220px;
            // background-size: contain;
            // @include bgcover;

            & > img {
                display: none;
            }

            & > .banner-section__breadcrumbs {
                // position: absolute;
                top: 180px !important;
                left: 0px !important;
                padding-left: 8px !important;
                background: linear-gradient(
                    180deg,
                    rgba(22, 23, 32, 0) 0%,
                    rgba(22, 23, 32, 0.43) 100%
                );
                white-space: nowrap;
                width: 100%;

                & > a {
                    @include respond(mobile) {
                        color: $white;
                        &:not(:last-child) {
                            background: url(../../assets/images/arrow-right.svg)
                                no-repeat right center;
                        }
                        &:last-child {
                            margin-right: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    &--promo-smart {
        margin-top: 56px !important;
        padding: 0;

        & > .desktop-banner {
            width: inherit;
            object-fit: cover;
            height: 550px;
            position: absolute;
            overflow: hidden;

            @include respond(mobile) {
                display: none;
            }
        }

        & > .mobile-banner {
            display: none;
            width: inherit;
            object-fit: cover;
            height: 220px;
            position: absolute;

            @include respond(mobile) {
                display: block;
            }
        }

        // background: url("../../assets/images/banner-smart.png") no-repeat;
        // background-position: center;
        // background-size: cover;
        // @include bgcover;
        // background-color: $promo-yellow;
        display: flex;
        justify-content: center;

        // & > img {
        //     width: 1217px;
        //     height: auto;
        // }

        @include respond(tablet) {
            margin-top: 31px !important;
        }

        @include respond(mobile) {
            // background: url("../../assets/images/banner-smart-m.png") no-repeat;
            // background-size: cover;
            background-position: bottom center;
            height: 220px;
            // background-position: 50% 70px;
            // background-color: $promo-yellow;
            // background-size: contain;
            // @include bgcover;

            & > img {
                display: none;
            }

            & > .banner-section__breadcrumbs {
                // position: absolute;
                top: 180px !important;
                left: 0px !important;
                padding-left: 8px !important;
                background: linear-gradient(
                    180deg,
                    rgba(22, 23, 32, 0) 0%,
                    rgba(22, 23, 32, 0.43) 100%
                );
                white-space: nowrap;
                width: 100%;

                & > a {
                    @include respond(mobile) {
                        color: $white;
                        &:not(:last-child) {
                            background: url(../../assets/images/arrow-right.svg)
                                no-repeat right center;
                        }
                        &:last-child {
                            margin-right: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    &--press-release {
        background: url("../../assets/images/banner-press-release-blog.png")
            no-repeat;
        @include bgcover;
    }

    &--event-fl {
        background: url("../../assets/images/banner-events-fashion-lifestyle.png")
            no-repeat;
        @include bgcover;

        @include respond(mobile) {
            background: url("../../assets/images/banner-events-fashion-lifestyle-m.png")
                no-repeat;
            @include bgcover;
        }
    }

    &--event-k {
        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.25) 0%,
                rgba(0, 0, 0, 0) 100%
            ),
            url("../../assets/images/banner-events-kids.png");
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        @include bgcover;

        @include respond(mobile) {
            background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.25) 0%,
                    rgba(0, 0, 0, 0) 100%
                ),
                url("../../assets/images/banner-events-kids.png");
            background-blend-mode: multiply;
            background-repeat: no-repeat;
            @include bgcover;
        }
    }

    &--quiz {
        background: url("../../assets/images/banner-quiz.jpg") no-repeat;
        @include bgcover;

        @include respond(tablet) {
            background: url("../../assets/images/banner-quiz.jpg") no-repeat;
            @include bgcover;
        }

        @include respond(mobile) {
            background: url("../../assets/images/banner-quiz-m.jpg") no-repeat;
            @include bgcover;
        }
    }
}

// BANNER MIXINS
@mixin banner-small-m--bc {
    background-size: 100% 200px;
    height: 250px;
}
@mixin banner-small-m {
    background-size: 100% 200px;
    height: 200px;
}

// BREADCRUMBS MIXINS
@mixin breadcrumbs--white {
    color: $white;
    &:not(:last-child) {
        background: url(../../assets/images/arrow-right.svg) no-repeat right
            center;
    }
}

@mixin breadcrumbs--black {
    color: $black;
    &:not(:last-child) {
        background: url(../../assets/images/arrow-right-black.svg) no-repeat
            right center;
    }
}

@mixin breadcrumbs--gray {
    color: $dark-gray;
    &:not(:last-child) {
        background: url(../../assets/images/arrow-right-gray.svg) no-repeat
            right center;
    }
}

// BANNER
.banner-section {
    // margin-top: 88px;
    // width: 100%;
    height: 355px;
    padding: 0 26px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    & > h1 {
        color: $white;
        position: relative;
        top: 45%;
        left: 192px;
        width: fit-content;
    }

    &.desktop {
        margin-top: 88px;
        height: 355px;

        @include respond(mobile) {
            display: none;
        }
    }

    &.mobile {
        height: 167px;
        margin-top: 56px;
        display: none;

        & > h1 {
            // position: absolute;
            // width: 20px;

            bottom: 26px;
            left: 28px;
            font-size: 24px;
            letter-spacing: 1.6px;
            line-height: 32px;
            margin-right: 0 !important;
        }

        @include respond(mobile) {
            display: block;
        }
    }

    @include respond(mobile) {
        padding: 0 8px;
    }

    &__hr {
        width: 100%;
        height: 1px;
        display: block;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
        );
        position: relative;
        top: 112px;

        @include respond(mobile) {
            display: none;
        }
    }

    &__breadcrumbs {
        position: relative;
        top: 128px;
        height: 34px;
        display: none;

        @include respond(mobile) {
            display: block;
            position: absolute;
            padding: 9px 0;
            // top: 210px;
            top: 255px;
            height: 40px;
        }

        & > a {
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;
            margin-right: 12px;
            white-space: nowrap;
            padding: 0 16px 0 0;
            display: inline-block;

            @include respond(mobile) {
                font-size: 14px;
                line-height: 22px;
            }

            &:hover {
                text-decoration: underline;
            }

            &:last-child {
                font-weight: bold;
            }
        }
    }

    &__title {
        position: relative;
        color: $white;
        // margin-left: 18.32%;
        top: 174px;
        text-align: center;

        @include respond(tablet) {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 4px;
        }

        @include respond(mobile) {
            margin-left: calc(7.77% - 8px);
            top: 113px;
        }
    }

    &--small {
        height: 350px;
    }

    &--all-blogs {
        background-image: url("../../assets/images/banner-all-blogs.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-all-blogs-m.jpg");
            @include banner-small-m--bc;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--gray;
                }
            }
        }

        & > .banner-section__title {
            margin-left: 13.71%;
            top: 142px;
            max-width: 780px;

            @include respond(tablet) {
                font-size: 24px;
                line-height: 32px;
            }

            @include respond(mobile) {
                top: 81px;
                width: 80%;
                margin-left: 20px;
            }
        }
    }

    &--all-magazine {
        background-image: url("../../assets/images/banner-all-magazine.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-all-magazine-m.jpg");
            @include banner-small-m--bc;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--gray;
                }
            }
        }
    }

    &--omnibus {
        background-image: url("../../assets/images/banner-omnibus.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-omnibus-m.jpg");
            @include banner-small-m--bc;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--gray;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(tablet) {
                font-size: 24px;
                line-height: 32px;
            }

            @include respond(mobile) {
                margin-left: 20px;
            }
        }
    }

    &--viber {
        background-image: url("../../assets/images/banner-viber.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-viber-m.jpg");
            @include banner-small-m--bc;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--black;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px !important;
            }
        }
    }

    &--men {
        background-image: url("../../assets/images/banner-mens.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-mens-m.jpg");
            @include banner-small-m;
        }
    }

    &--women {
        background-image: url("../../assets/images/banner-women.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-women-m.jpg");
            @include banner-small-m;
        }
    }

    &--kids {
        background-image: url("../../assets/images/banner-kids.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-kids-m.jpg");
            @include banner-small-m;
        }
    }

    &--youth {
        background-image: url("../../assets/images/banner-youth.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-youth-m.jpg");
            @include banner-small-m;
        }
    }

    &--home {
        background-image: url("../../assets/images/banner-home.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-home-m.jpg");
            @include banner-small-m;
        }
    }

    &--beauty {
        background-image: url("../../assets/images/banner-beauty.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-beauty-m.jpg");
            @include banner-small-m;
        }
    }

    &--other {
        background-image: url("../../assets/images/banner-other.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-other-m.jpg");
            @include banner-small-m;
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px;
            }
        }
    }

    &--sm-cares {
        background-image: url("../../assets/images/banner-sm-cares.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-sm-cares-m.jpg");
            @include banner-small-m;
        }
    }

    &--press-release {
        background-image: url("../../assets/images/banner-press-release.jpg");

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-press-release-m.jpg");
            @include banner-small-m;
        }
    }

    &--forex {
        margin-top: 88px;
        padding: 0;

        & > .desktop-banner {
            width: inherit;
            object-fit: cover;
            height: 355px;
            position: absolute;
            overflow: hidden;

            @include respond(mobile) {
                display: none;
            }
        }

        & > .mobile-banner {
            display: none;
            width: inherit;
            object-fit: cover;
            height: 200px;
            position: absolute;

            @include respond(mobile) {
                display: block;
            }
        }

        // background-image: url("../../assets/images/banner-services-forex.jpg");
        // background-size: cover;
        // background-position: center right;

        @include respond(tablet) {
            margin-top: 56px;
        }

        @include respond(mobile) {
            // background-image: url("../../assets/images/banner-services-forex-m.jpg");
            // @include banner-small-m--bc;
            height: 200px;
            margin-bottom: 40px;
        }

        & > .banner-section__breadcrumbs {
            position: absolute;
            margin-left: 12px;
            & > a {
                @include respond(mobile) {
                    @include breadcrumbs--black;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px !important;
                text-align: left;
            }
        }
    }

    &--billpay {
        margin-top: 88px !important;
        padding: 0;

        & > .desktop-banner {
            width: inherit;
            object-fit: cover;
            height: 355px;
            position: absolute;
            overflow: hidden;

            @include respond(mobile) {
                display: none;
            }
        }

        & > .mobile-banner {
            display: none;
            width: inherit;
            object-fit: cover;
            height: 200px;
            position: absolute;

            @include respond(mobile) {
                display: block;
            }
        }

        // background-image: url("../../assets/images/banner-billpay.jpg");
        // background-size: cover;
        // background-position: center right;

        @include respond(tablet) {
            margin-top: 56px !important;
        }

        @include respond(mobile) {
            // background-image: url("../../assets/images/banner-billpay-m.png");
            // @include banner-small-m--bc;
            height: 200px;
            margin-bottom: 40px;
        }

        & > .banner-section__breadcrumbs {
            margin-left: 12px;

            & > a {
                color: $white;
                @include respond(mobile) {
                    @include breadcrumbs--black;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px !important;
                text-align: left;
                width: 50%;
            }
        }
    }

    &--ctd {
        margin-top: 88px;
        padding: 0;

        & > .desktop-banner {
            width: inherit;
            object-fit: cover;
            height: 355px;
            position: absolute;
            overflow: hidden;

            @include respond(mobile) {
                display: none;
            }
        }

        & > .mobile-banner {
            display: none;
            width: inherit;
            object-fit: cover;
            height: 200px;
            position: absolute;

            @include respond(mobile) {
                display: block;
            }
        }
        // background-image: url("../../assets/images/banner-delivery.png");
        // background-size: cover;
        // background-position: center right;
        // background-repeat: no-repeat;

        @include respond(tablet) {
            margin-top: 56px;
        }

        @include respond(mobile) {
            height: 200px;
        }

        & > .banner-section__breadcrumbs {
            top: 255px !important;
            margin-left: 12px;

            & > a {
                color: $white;
                @include respond(mobile) {
                    @include breadcrumbs--black;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px !important;
                text-align: left;
            }
        }
    }

    &--gift-registry {
        margin-top: 88px;
        background-image: url("../../assets/images/banner-gift-registry.jpg");
        background-size: cover;
        background-position: center right;

        @include respond(tablet) {
            margin-top: 56px;
        }

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-gift-registry-m.jpg");
            // @include banner-small-m--bc;
            // background-size: cover;
            height: 200px;
            margin-bottom: 40px;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--gray;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px !important;
                width: 187px;
                text-align: left;
            }
        }
    }

    &--gift-card {
        margin-top: 88px;
        background-image: url("../../assets/images/banner-gift-card.jpg");
        background-size: cover;
        background-position: center right;

        @include respond(tablet) {
            margin-top: 56px;
        }

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-gift-card-m.jpg");
            // @include banner-small-m--bc;
            height: 200px;
            margin-bottom: 40px;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--gray;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px !important;
                width: 187px;
                text-align: left;
            }
        }
    }

    &--gift-wrapping {
        margin-top: 88px;
        background-image: url("../../assets/images/banner-gift-wrapping.jpg");
        background-size: cover;
        background-position: center right;

        @include respond(tablet) {
            margin-top: 56px;
        }

        @include respond(mobile) {
            background-image: url("../../assets/images/banner-gift-wrapping-m.jpg");
            // @include banner-small-m--bc;
            height: 200px;
            margin-bottom: 40px;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--gray;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px !important;
                width: 187px;
                text-align: left;
            }
        }
    }
}

.banner-yolk {
    background-image: url("../../assets/images/pattern-yolk.png");
    background-position: center center;
    width: 437px;
    height: 350px;
    position: absolute;

    @include respond(mobile) {
        width: 74%;
    }
}
