.vertical-line {
    border-left: 1px solid $gray;
    height: 64px;
    display: block;
    width: 1px;
    margin: auto;

    @include respond(mobile) {
        height: 32px;
    }
}

.hr {
    margin: 40px 0;

    &--gray {
        border-bottom: 1px solid $mid-gray;
    }

    &--blue-m {
        border-bottom: 1px solid $blue;
    }

    &--gray-m-hide {
        border-bottom: 1px solid $mid-gray;

        @include respond(mobile) {
            visibility: hidden;
        }
    }
}
