.product-tooltip {

    position: relative;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    
    &__trigger {
        background: $white;
        border-radius: 100px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
        width: 24px;
        height: 24px;
        position: absolute;
        cursor: pointer;

        &--jeffree {
            right: 180px;
            top: 143px;
        }

        &--active {
            border: 4px solid #F86A6A;
        }

       
    }

    &__box {
        display: none;
        position: absolute;
        width: 241px;
        height: 56px;
        right: -85px;
        top: 125px;
        background:$cerulean;
        opacity: 0.9;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color:$white;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 20px;
            left: -6px;
            width: 15.56px;
            height: 15.56px;
            background:$cerulean;
            transform: rotate(135deg);
         }

         &--show {
            display: flex;
        }

    }

    &__content {
        display: none;
        padding: 16px;
        position: absolute;
        right: -265px;
        top: 85px;
        width: 424px;
        min-height:150px;
        background:$white;
        box-shadow: 2px 5px 10px rgba(136, 137, 143, 0.25);
        border-radius: 4px;

        &::after {
            content: '';
            position: absolute;
            top: 60px;
            left: -6px;
            width: 15.56px;
            height: 15.56px;
            background:$white;
            transform: rotate(135deg);
         }

         &--show {
            display: flex;
        }
    }


    &__image-container {
        border: 1px solid #E0E0E0;
        height: 118px;
        width: 118px;
        margin-right: 16px;
    }

  

    &__brand-name {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color:$gray;
    }

    &__product-name {
        font-family: $font-base;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color:$black;
                
    }

    &__product-price {
        font-family: $font-base;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: $black;
        margin-top: 7px;
        
    }

    &__product-note {
        font-family: Open Sans;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #403F47;
        margin-top: 12px;
    }
} 

