.checkout {
    background-color: $light-periwinkle;
    padding-bottom: 30px;

    & > div {
        max-width: 1400px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
    }

    & > div > .make-big-right-column {
        margin-right: 24px;

        & > div {
            margin-top: 24px;

            &:first-child {
                margin-top: 0;
            }
        }

        & > .make-orders-container {
            margin-top: 24px;

            & > .order_container {
                & > hr {
                    margin: 24px 0;
                }
            }
        }
    }

    & > div > .make-small-left-column {
        & > div {
            margin-top: 24px;

            &:first-child {
                margin-top: 0;
            }
        }

        & > .button-container {
            padding-left: 24px;
            padding-right: 24px;
        }

        & > .make-orders-summary {
            & > .make-terms-agree {
                margin-bottom: 16px;
            }
        }
    }

    // Style for multiple branch checkout
    &.multiple {
        & .checkout-confirmation {
            background-color: white;
            box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);

            & > .text {
                padding: 16px 24px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #403f47;
            }
        }
    }
}
