body {
    background: $white;
}

.ctd {
    & > .featured-video__text {
        & > h1 {
            line-height: 74px;
            margin-top: 0;
            margin-bottom: 30px;

            @include respond(mobile) {
                margin-top: 240px;
                line-height: 32px;
            }
        }
    }
    &__header {
        position: relative;
        width: 100%;

        margin-bottom: 60px;

        // position: absolute;
        // top: 0;
        // left: 0;
        // z-index: -1;
        width: 100%;
        height: 290px;
        content: "";
        background-color: #aed6e3;
        background-image: url("../images/dots-l.svg");
        background-size: cover;
        background-position: center top;
        // background-image: radial-gradient($gray 2px, #aed6e3 2px);
        // background-size: 49px 49px;

        @include respond(1440px) {
            background-image: url("../images/dots.svg");
        }

        @include respond(mobile) {
            background-image: url("../images/dots-m.svg");
            height: 271px;
            margin-bottom: 120px;
        }

        @include respond(360px) {
            margin-bottom: 223px;
        }

        @include respond(360px) {
            margin-bottom: 247px;
        }

        // &:before {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index: -1;
        //     width: 100%;
        //     height: 290px;
        //     content: "";
        //     background-color: #aed6e3;
        //     background-image: url("../images/dots-l.svg");
        //     background-size: cover;
        //     background-position: center top;
        //     // background-image: radial-gradient($gray 2px, #aed6e3 2px);
        //     // background-size: 49px 49px;

        //     @include respond(1440px) {
        //         background-image: url("../images/dots.svg");
        //     }

        //     @include respond(mobile) {
        //         background-image: url("../images/dots-m.svg");
        //         height: 271px;
        //     }
        // }

        & > div {
            min-height: 348px;
            width: 1400px;
            margin: 0 auto;
            padding: 44px 0 0 0;

            @include respond(1400px) {
                width: 100%;
                padding: 44px 32px 0 32px;
            }

            @include respond(tablet) {
                padding: 24px 32px 0 32px;
            }

            @include respond(mobile) {
                padding: 24px 12px 0 12px;
                margin: 34px 0 0 0;
            }
        }

        &-content {
            width: 87.5%;
            min-height: 304px;
            background-color: #005ce3;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;

            @include respond(tablet) {
                flex-direction: column;
                margin: 0;
                width: 100%;
                padding: 54px 23px 48px 23px;
            }

            & > img {
                max-width: 267px;
                margin-right: 111px;

                @include respond(tablet) {
                    margin-right: 0;
                    margin-bottom: 36px;
                    height: 73px;
                }
            }

            & > div {
                width: 48.24%;

                @include respond(tablet) {
                    width: 100%;
                }

                & > h3 {
                    color: $lemon;

                    @include respond(tablet) {
                        margin-bottom: 16px;
                        text-align: center;
                    }
                }

                & > div {
                    margin-bottom: 8px;

                    & > span {
                        color: $white;

                        & > img {
                            margin-right: 10px;
                            height: 18px;
                            width: 18px;
                        }

                        @include respond(tablet) {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    &__content {
        & > div {
            width: 1400px;
            margin: 0 auto;
            padding: 88px 224px 104px 224px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(1400px) {
                width: 100%;
                margin: 0;
            }

            @include respond(tablet) {
                padding: 53px 32px 50px 32px;
            }

            @include respond(mobile) {
                padding: 53px 12px 50px 12px;
            }

            & > h3 {
                margin-bottom: 32px;
                text-align: center;
            }
        }

        &-search {
            width: 100%;
            margin-bottom: 32px;
            background-color: $white;
            box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);
            display: flex;

            & > img {
                margin-left: 21px;
            }

            & > input {
                margin-left: 7px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                font-family: "Open Sans", Helvetica, Arial, sans-serif;
                color: $black;
                padding: 20px 0;
                width: 100%;
                border: none;
                outline: none;

                &::placeholder {
                    color: $dark-gray;
                }
            }
        }
    }

    &__category {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: min-content;
        margin-bottom: 32px;

        @include respond(mobile) {
            margin-bottom: 0;
        }

        &.active {
            & > .ctd__category-header {
                & > img {
                    transform: rotate(180deg);
                }
            }
        }

        &:not(.active) {
            @include respond(mobile) {
                min-height: min-content;

                & > .ctd__category-content {
                    display: none;
                }
            }
        }

        &-header {
            background-color: $silver;
            height: 53px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 24px;
            justify-content: space-between;

            @include respond(mobile) {
                height: 60px;
                padding: 0 19px;
            }

            & > p {
                color: $black;
            }

            & > img {
                display: none;

                @include respond(mobile) {
                    display: block;
                }
            }
        }

        &-content {
            padding: 32px 24px;

            @include respond(mobile) {
                padding: 24px 32px;
            }

            & > ul {
                min-height: min-content;
                column-fill: auto;
                column-count: 6;
                column-gap: 32px;

                @include respond(tablet) {
                    column-count: 4;
                }

                @include respond(mobile) {
                    column-count: 2;
                }

                & > li {
                    color: $black;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 16px;

                    @include respond(mobile) {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }

    &__support {
        width: 100%;
        background-color: $light-periwinkle;

        & > div {
            height: 350px;
            max-width: 651px;
            padding: 103px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(tablet) {
                height: 350px;
                padding: 87px 0;
            }

            & > h3 {
                text-align: center;
                margin-bottom: 16px;

                @include respond(mobile) {
                    width: 173px;
                }
            }

            & > p {
                text-align: center;
                color: $dark-gray;
                margin-bottom: 16px;

                & > span {
                    font-weight: bold;
                }

                & > a {
                    text-decoration: none;
                    font-weight: bold;
                    color: $dark-gray;
                }
            }

            & > a {
                margin: 0 auto;
                width: 205px;
            }
        }
    }

    &__order-form {
        margin-bottom: 80px;

        @include respond(mobile) {
            margin-bottom: 46px;
        }

        & > .container {
            max-width: 1400px;
            width: 70%;

            @include respond(mobile) {
                width: 100%;

                & > h2 {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                    margin-top: 28px;
                }
            }

            & > p {
                &:first-child {
                    color: $dark-gray;
                }

                &:last-child {
                    width: 50%;

                    @include respond(mobile) {
                        width: 100%;
                    }
                }
            }

            label {
                text-transform: none;
            }

            & > .form {
                margin-top: 26px;

                input,
                select,
                textarea {
                    margin-top: 6px;
                    height: 40px;
                    color: $dark-gray;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }

                @include respond(mobile) {
                    &input:first-child {
                        margin-bottom: 24px;
                    }
                }

                textarea {
                    margin-bottom: 24px;
                    padding: 11px;
                    height: 100%;
                    width: 100%;

                    &::placeholder {
                        font-style: italic;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: $gray;
                    }
                }

                p {
                    text-transform: none;
                    width: 50%;

                    @include respond(mobile) {
                        width: 100%;
                    }
                }

                button {
                    margin-top: 24px;
                    // top: 40px;
                }

                & > .row-1 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 24px;

                    @include respond(mobile) {
                        margin-bottom: 0;
                    }
                    // justify-content: space-between;

                    & > div {
                        width: calc(50% - 20px);

                        @include respond(mobile) {
                            width: 100%;
                        }

                        .input-error {
                            border: 1px solid red !important;
                        }

                        & > input {
                            width: 100%;
                            background: #ffffff;

                            border: 1px solid #88898f;
                            box-sizing: border-box;

                            @include respond(mobile) {
                                margin-bottom: 24px;
                            }

                            &::placeholder {
                                font-style: italic;
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                                color: $gray;
                            }
                        }
                    }
                }

                & > .row-2 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 24px;

                    @include respond(mobile) {
                        margin-bottom: 0;
                    }
                    // justify-content: space-between;

                    & > div {
                        width: calc(50% - 20px);

                        @include respond(mobile) {
                            width: 100%;
                        }

                        .input-error {
                            border: 1px solid red !important;
                        }

                        & > input,
                        select {
                            width: 100%;
                            background: #ffffff;

                            border: 1px solid #88898f;
                            box-sizing: border-box;

                            @include respond(mobile) {
                                margin-bottom: 24px;
                            }

                            &::placeholder {
                                font-style: italic;
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                                color: $gray;
                            }
                        }

                        & > select {
                            padding-left: 16px;
                            &:after {
                                padding-right: 16px;
                            }
                        }
                    }
                }

                & > .radio-btns {
                    margin: 18px 0 35px 0;

                    @include respond(mobile) {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }

    &__toast {
        position: fixed;

        margin-top: 20px;
        left: 50%;
        right: auto;
        transform: translate(-50%, 0);
        top: 88px;
        z-index: 1000;

        background: $freshmint;
        opacity: 0.95;
        border-radius: 4px;

        width: 372px;
        height: 50px;

        @include respond(mobile) {
            top: 56px;
            margin-top: 40px;
            width: 327px;
        }

        @include respond(320px) {
            width: 297px;
        }

        // display: flex;
        justify-content: center;
        align-items: center;

        display: none;

        animation-name: toastIn;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;

        & > p {
            color: $white;
            text-align: center;

            & > img {
                margin-right: 10px;
            }
        }
    }

    &__toast.shown {
        animation-name: toastIn;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
    }

    @keyframes toastIn {
        from {
            opacity: 0;
            left: 50%;
            right: auto;
            transform: translate(-50%, 0);
            top: 0px;
            transition: 0.3s ease-in-out 0s;
        }

        to {
            display: flex !important;
            opacity: 0.95;
            left: 50%;
            right: auto;
            transform: translate(-50%, 0);
            top: 88px;
            transition: 0.3s ease-in-out 0s;
        }
    }

    &-accordion {
        width: 70%;

        @include respond(mobile) {
            width: 95%;
        }

        max-width: 1400px;
        margin: 2rem auto;
        padding: 2rem 0;

        &__item {
            background: $white;
            color: $black;
            margin: 1rem 0;

            &-header {
                border: 1px solid #ebeef8;
                border-radius: 4px 4px 0px 0px;
                padding: 20px 16px;
                display: flex;
                align-items: center;
                position: relative;
                font-weight: bold;
                line-height: 24px;
                cursor: pointer;

                &:after {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    content: url("../images/icons/angle-down-black.svg");
                    height: 12px;
                    width: 12px;
                    position: absolute;
                    right: 1rem;
                    transition: 0.3s ease-in;
                }

                &.active:after {
                    display: flex;
                    align-items: center;
                    transform: rotate(180deg);
                    transition: 0.3s ease-out;
                }
            }

            &-body {
                border: 1px solid #ebeef8;
                box-shadow: inset 0px 2px 5px rgba(235, 239, 250, 0.5);
                border-radius: 0px 0px 4px 4px;

                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease-out;

                &-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 16px 24px;

                    & span {
                        line-height: 64px;
                    }

                    & > ul {
                        list-style-type: disc;
                        margin-left: 40px;
                    }

                    & em {
                        color: $gray;
                    }

                    & .desktop-emphasis {
                        @include respond(mobile) {
                            display: none;
                        }
                    }

                    & .mobile-emphasis {
                        display: none;

                        @include respond(mobile) {
                            display: block;
                        }
                    }
                }
            }

            // &-header.active + &-body {
            //     display: flex;
            // }
        }
    }
}
