.fashion-nav {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0) 100%
    );

    // @include respond(tablet) {
    //     background: $indigo !important;
    // }
}

.fashion-header-banner,
.shop-online {
    height: 355px;
}

.fashion-header-banner {
    margin-top: 88px;
    background-image: url("../images/fashion-header-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    & > h1 {
        color: $white;
        padding: 210px 0 0 15%;
        // position: relative;
        // top: 60%;
        // left: 15%;
    }

    @include respond(mobile) {
        & > h1 {
            padding: 90px 0 0 12% !important;
        }
    }

    @include respond(tablet) {
        margin-top: 56px;
        height: 167px;
        background-size: contain auto;

        & > h1 {
            padding: 70px 0 0 13%;
        }
    }
}

.sale {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 474px;

    &__image {
        position: relative;
        bottom: 10%;
        width: 1238px;
        height: 250px;
        background-image: url("../images/new-sale-banner.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &-content {
            color: $white;
            padding: 1.5% 0 0 58%;

            h5 {
                margin-bottom: 0;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 3px;
                line-height: 21.79px;
            }

            h1 {
                font-size: 48px;
                line-height: 58px;
                letter-spacing: 1.6px;
                font-weight: 700;
            }

            p {
                color: $white;
                font-size: 14px;
                line-height: 22px;
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
    }

    @include respond(tablet) {
        height: 274px;

        &__image {
            margin: 12px;
            width: 100%;
            height: 80%;

            background-size: cover;
            background-position: center;
            bottom: 0%;
            display: flex;
            justify-content: flex-end;

            &-content {
                color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0% 5% 0 2%;

                h5 {
                    margin-bottom: 0;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 2px;
                }

                h1 {
                    margin: 0;
                    font-size: 20px;
                    line-height: 28px;
                }

                p {
                    color: $white;
                    font-size: 12px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.about-fashion {
    // background: #faf3f0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__mobile-container {
        display: none;
        height: 522px;
        width: 100%;
        justify-content: space-evenly;
        padding: 10% 0;
        flex-direction: column;

        img {
            width: 160px;
            height: 245px;
        }

        button {
            background: transparent;
            border: none;
            width: 160px;
            padding: 0;
            text-align: left;
        }

        &__content {
            background: #faf3f0;
            text-align: center;
            flex-grow: 2;
            justify-content: center;
            align-items: flex-start;

            span {
                color: #656565;
            }

            h1 {
                color: $blush-pink;
            }

            p {
                color: #2c2e2f;
            }

            &-link-container {
                width: 100%;
                padding-top: 8%;
                display: flex;
                justify-content: center;
                align-items: center;

                &__left,
                &__right {
                    margin: 8px;
                    width: 160px;
                }

                &__left {
                    justify-content: flex-start !important;
                }

                &__right {
                    justify-content: flex-end !important;
                }
            }
        }
    }

    &__desktop-container {
        display: flex;
        height: 584px;
        width: 100vw;
        align-items: center;
        justify-content: space-between;

        &__left {
            justify-content: flex-start;
        }

        &__right {
            justify-content: flex-end;
        }

        &__left {
            position: relative;
            left: 0;
            top: 15%;
            background-image: url("../images/about-fashion1.png");
            width: 376px;
            height: 556px;

            & > button {
                position: absolute;
                bottom: 0;
                left: 50%;
                right: auto;
                transform: translate(-50%, 0);
                margin-bottom: 10%;
            }
        }

        &__right {
            position: relative;
            right: 0;
            bottom: 15%;
            background-image: url("../images/about-fashion2.png");
            width: 376px;
            height: 556px;

            & > button {
                position: absolute;
                bottom: 0;
                left: 50%;
                right: auto;
                transform: translate(-50%, 0);
                margin-bottom: 10%;
            }
        }

        &__content {
            position: relative;

            & > div {
                padding: 23%;
                text-align: center;

                & > h1 {
                    font-size: 52px;
                    letter-spacing: 4px;
                    color: $blush-pink;
                    margin: 5% 0;
                }

                & > span,
                p {
                    color: #656565;
                }
            }
        }
    }

    @include respond(tablet) {
        &__desktop-container {
            display: none;
        }

        &__mobile-container {
            display: flex;
        }
    }
}

.fashion-categories {
    background: $white;

    h2,
    h3,
    h5 {
        margin: 0;
    }

    .container {
        padding: 8% 0 5% 0;

        & .center {
            text-align: center;
            padding: auto;
            margin: auto;
        }
    }

    &__heading {
        padding-bottom: 3.5%;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
    }

    &__card {
        width: 254px;
        border-radius: 4px;
        padding: 0;
        margin: 0 25px;
        transition: 0.3s ease-in;

        &-description {
            h2 {
                font-size: 22px;
                margin: 8% 0 30% 0;
                text-align: center;
                color: $dark-gray;
                letter-spacing: normal;
            }
        }

        & > a,
        a:hover,
        a:visited {
            text-decoration: none;
            color: $black;
        }
    }

    &__card:hover {
        opacity: 0.7;
        transition: 0.3s ease-out;
    }

    @include respond(tablet) {
        &__cards {
            padding: 10% 0;

            justify-content: center;
        }

        &__card {
            width: 150px;
            margin: 0 7.5px;

            img {
                height: 150px;
                width: 150px;
            }

            h2 {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

.fashion-featured-video {
    height: 584px !important;
    background: $cream;

    @include respond(mobile) {
        height: 551px !important;
    }

    &__mobile-container {
        display: none;
        justify-content: flex-end;

        &__pink {
            display: flex;
            justify-content: flex-end;
            background: $blush-pink;
            position: absolute;
            width: 276px;
            height: 497px;
            padding-right: 12px;

            &--content {
                padding-top: 24px;
                color: $white;
                margin-left: 10%;
                text-align: right;

                h2 {
                    margin-top: 1%;
                    font-size: 26px;
                    margin-right: 18%;
                    margin-bottom: 0;
                }

                p {
                    color: $white;
                    text-align: left;
                    margin-left: 26%;
                    font-weight: 400;
                }

                &__video {
                    padding-top: 3%;
                    position: relative;
                    color: $white;
                    z-index: 20;
                    margin: 3% 37%;

                    img:nth-of-type(1) {
                        width: 335px;
                        height: 215px;
                    }

                    & div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    &__desktop-container {
        display: flex;
        justify-content: flex-end;
        width: 100vw;

        &__pink {
            display: flex;
            justify-content: flex-end;
            background: $blush-pink;
            position: absolute;
            padding: 5% 15% 11% 100px;

            @include respond(tablet) {
                padding: 8% 2% 13% 8%;
            }

            @media only screen and (min-width: 1025px) and (max-width: 1300px) {
                padding: 5% 9% 11% 5%;
            }

            &--description {
                color: $white;

                padding: 7% 3%;

                h2,
                p {
                    width: 200%;
                }

                p {
                    color: $white;
                    font-weight: 400;
                }
            }
        }

        @include respond(tablet) {
            &__video {
                position: relative;
                color: $white;
                width: 50%;
                z-index: 20;
                margin: 3% 37%;

                & div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        @include respond(large-screen) {
            &__video {
                position: relative;
                color: $white;
                width: 704px;
                z-index: 20;
                margin: 3% 37%;

                & div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        @include respond(desktop) {
            &__video {
                position: relative;
                color: $white;
                width: 704px;
                z-index: 20;
                margin: 3% 45%;

                & div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        @include respond(1600px) {
            &__video {
                position: relative;
                color: $white;
                width: 704px;
                z-index: 20;
                margin: 3% 41%;

                & div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    @include respond(mobile) {
        &__desktop-container {
            display: none;
        }

        &__mobile-container {
            display: flex;
        }
    }
}

.shop-online {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 355px;

    &__image {
        position: relative;
        width: 1238px;
        height: 250px;
        background-image: url("../images/shop-online-banner.png");
        background-size: contain;
        background-repeat: no-repeat;

        &-content {
            color: $white;
            padding: 2% 0 0 58%;

            h5 {
                margin-bottom: 0;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 3px;
                line-height: 21.79px;
            }

            h1 {
                font-size: 32px;
                line-height: 38px;
                letter-spacing: normal;
                font-weight: 700;
                text-transform: none;
            }

            p {
                color: $white;
                font-size: 14px;
                line-height: 22px;
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
    }

    @include respond(tablet) {
        height: 274px;
        padding: 24px 0 0 0;

        &__image {
            margin: 12px;
            width: 100%;
            height: 80%;

            background-size: cover;
            background-position: center;
            bottom: 0%;
            display: flex;
            justify-content: flex-end;

            &-content {
                color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0% 5% 0 2%;
                width: 65%;

                h5 {
                    margin-bottom: 0;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 3px;
                    font-weight: 600;
                }

                h1 {
                    margin: 4px 0;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 600;
                }

                p {
                    color: $white;
                    font-size: 12px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }

                button {
                    padding: 0;
                }
            }
        }
    }
}
