.holiday-campaign-header-banner {
    height: 355px;
    margin-top: 88px;
    background-image: url("../images/holiday-campaign-header-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;

    & > h1 {
        color: $white;
        position: relative;
        top: 45%;
        left: 192px;
        width: fit-content;
    }

    @include respond(tablet) {
        margin-top: 56px;
        height: 167px;

        & > h1 {
            // position: absolute;
            // width: 20px;

            bottom: 26px;
            left: 28px;
            font-size: 24px;
            letter-spacing: 1.6px;
            line-height: 32px;
            margin-right: 0 !important;
        }
    }
}

.campaign-video {
    background: #faf3f0;

    &__container {
        width: 100%;
        padding: 40px 0;
        text-align: center;
        color: $black;
    }

    &__heading {
        text-align: center;

        h2 p {
            color: $black;
        }

        h2 {
            font-size: 32px;
            line-height: 48px;

            @include respond(mobile) {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }

    &__video {
        cursor: pointer;
        height: 551px;
        // background: url("../images/holiday-campaign-vid.png") no-repeat;
        // background-size: contain;
        // background-position: center;
        // background: $christmas-red;
        // background: url("../images/holiday-campaign-vid.png");
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: center;

        .holiday-campaign-video {
            position: absolute;
            height: 531px;
            // display: none;
            width: 1000px;
            // pointer-events: none;
        }

        margin: 50px 88px 24px 88px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        height: fit-content;
        width: fit-content;

        & > div {
            width: 1000px;

            @include respond(360px) {
                width: 336px;
            }

            @include respond(320px) {
                width: 296px;
            }

            & > img {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__overlay {
        display: none;
        background: rgba(0, 0, 0, 0.6);
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 999;

        & > .modal-close {
            cursor: pointer;
            position: fixed;
            width: 25px;
            height: 25px;
            top: 40px;
            right: 40px;
            background: rgba(22, 23, 32, 0.6);
            padding: 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            & > img {
                width: 19px;
                height: 19px;

                @include respond(mobile) {
                    width: 18px;
                    height: 18px;
                }
            }

            @include respond(mobile) {
                top: 27px;
                right: 8px;
                margin: 0;
            }
        }
    }

    @include respond(tablet) {
        &__container {
            padding: 10% 0;
        }
        &__heading {
            h2 {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 1.6px;
            }

            p {
                margin: 0 28px 41px 28px;
            }
        }

        &__video {
            height: 400px;
            width: auto;
            // margin: 0 12px 10px 12px;

            .holiday-campaign-video {
                height: 215px;
                width: 336px;

                @include respond(320px) {
                    width: 296px;
                }
            }

            .play-button {
                height: 71px;
                width: 71px;
            }
        }
    }

    @include respond(mobile) {
        &__video {
            // height: 215px;
            height: 208px;
            margin: 0;
            margin-bottom: 16px;
        }
    }
}

.holiday-campaign-main-content {
    background: $white;

    @include respond(mobile) {
        display: none;
    }

    & > .container {
        position: relative;
        max-width: 1280px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 120px;

        img {
            @include respond(tablet) {
                height: 331px;
                width: 416px;
            }
        }

        &:last-child {
            & > .holiday-campaign-main-content__yellow {
                margin-top: 55px;
            }

            padding-bottom: 50px;
        }
    }

    &__image {
        margin: 56px 0 0 88px;
        height: 497px;
        width: 624px;
        z-index: 4;

        @include respond(tablet) {
            height: 331px;
            width: 416px;
        }
    }

    &__container-right {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5% 0;

        img {
            margin-left: 6%;
            height: 497px;
            width: 624px;
            z-index: 4;

            @include respond(tablet) {
                height: 331px;
                width: 416px;
            }
        }
    }

    &__yellow {
        display: flex;
        align-items: flex-end;
        position: absolute;
        margin-top: 110px;
        float: left;
        background: $faint-yellow;
        height: 497px;
        width: 624px;

        @include respond(tablet) {
            height: 331px;
            width: 416px;
        }
    }

    &__yellow-right {
        margin: 55px 16px 0 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        left: auto;
        // margin: 45px 0 0 600px;
        background: $faint-yellow;
        height: 497px;
        width: 624px;

        @include respond(tablet) {
            height: 331px;
            width: 416px;
        }
    }

    &__description {
        padding: 1% 3%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .red {
            color: $san-francisco;
        }

        .invisible {
            visibility: hidden;
        }

        h1 {
            line-height: 48px;

            &:nth-of-type(2) {
                margin-left: 90px;
            }
        }

        h5 {
            font-size: 18px;
            color: $gray;
            font-weight: 600;
        }

        p {
            color: $dark-gray;
        }

        &-left {
            margin-left: 6%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .red {
                color: $san-francisco;
            }

            .invisible {
                visibility: hidden;
            }

            h1 {
                line-height: 48px;
                letter-spacing: 0;

                &:nth-of-type(2) {
                    margin-left: 90px;
                }
            }

            h5 {
                font-size: 18px;
                color: $gray;
                font-weight: 600;
            }

            p {
                color: $dark-gray;
            }
        }
    }
}

.mobile-holiday-campaign-main-content {
    display: none;
    background-color: #ffffff;

    @include respond(mobile) {
        display: block;
    }

    &__section {
        display: flex;
        padding: 0;

        &:first-child {
            padding-top: 24px;
        }
    }
    &__image1 {
        // position: absolute;
        background: url("../images/holiday-campaign-content1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 100%;
        margin-right: 48px;
        max-width: 348px;
        height: 230px;

        left: 0;
        left: auto;
        z-index: 1;
    }

    &__image2 {
        // position: absolute;
        background: url("../images/holiday-campaign-content2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 100%;
        margin-left: 48px;
        max-width: 348px;
        height: 230px;

        right: 0;
        left: auto;
        z-index: 1;
    }

    &__image3 {
        // position: absolute;
        background: url("../images/holiday-campaign-content3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 100%;
        margin-right: 48px;
        max-width: 348px;
        height: 230px;

        left: 0;
        left: auto;
        z-index: 1;
    }

    &__yellow {
        background: $faint-yellow;
        width: 100%;
        height: 100%;
        max-width: 312px;
        max-height: 230px;
        margin-top: 10%;
        margin-left: 48px;
        position: absolute;
        right: 0;
        left: auto;
    }

    &__yellow-right {
        background: $faint-yellow;
        width: 100%;
        height: 100%;
        max-width: 312px;
        max-height: 230px;
        margin-top: 10%;
        margin-right: 48px;

        position: absolute;
        left: 0;
        right: auto;
    }

    &__invisible {
        height: 230px;
        margin-bottom: 10%;
    }

    &__description {
        padding: 12px 30px;
        padding-bottom: 48px;

        @include respond(320px) {
            padding: 12px 15px;
        }

        &:first-child {
            padding-bottom: 48px;
        }

        h5 {
            color: $gray;
            margin-top: 24px;
            padding-top: 24px;
        }

        h1 {
            &:nth-of-type(2) {
                margin-left: 90px;
            }
        }

        .red {
            color: $san-francisco;
        }
    }
}

.holiday-campaign-promo-banner {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 355px;

    &__thumbnail {
        background: linear-gradient(263.77deg, #fde514 11.15%, #c63b44 84.73%);
        width: 493px;
        height: 137px;
        display: flex;
        margin: 57px 0 57px 65px;
        justify-content: center;

        h1 {
            font-size: 144px;
            color: $white;
            margin-top: 25px;
        }

        @include respond(tablet) {
            display: none;
        }

        &.hidden {
            visibility: hidden;
        }
    }

    &__mobile-thumbnail {
        display: none;

        &.hidden {
            visibility: hidden;
        }

        @include respond(tablet) {
            display: flex;
            align-items: center;
            padding-top: 10px;

            width: 110px;
            height: 143px;

            margin-right: 12px;

            background: linear-gradient(
                263.77deg,
                #fde514 11.15%,
                #c63b44 84.73%
            );

            h1 {
                margin-top: 16px;
                font-size: 96px;
                text-align: right;
                line-height: 76px;
                color: $white;
            }
        }
    }

    &__image {
        position: relative;
        width: 1238px;
        height: 250px;
        background: linear-gradient(90deg, #fde514 0%, #c63b44 100%);
        display: flex;
        justify-content: space-around;

        &-content {
            color: $white;
            padding: 25px 120px 0 0;

            h1 {
                margin: 10px 0 0 0;
            }

            h5 {
                margin-bottom: 0;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 3px;
                line-height: 21.79px;
            }

            p {
                color: $white;
                font-size: 14px;
                line-height: 22px;
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
    }

    @include respond(tablet) {
        height: 274px;
        padding: 24px 0 0 0;

        &__thumbnail {
            h1 {
                width: 100%;
                height: 100%;
            }
        }

        &__image {
            margin: 12px;
            padding: 12px;
            width: 100%;
            height: 177px;

            background-size: 336px 177px;
            background-size: cover;
            background-position: center;
            bottom: 0%;
            display: flex;
            justify-content: flex-end;

            &-content {
                color: $white;
                display: flex;
                flex-direction: column;
                padding: 10 % 10% 0 0;
                width: 65%;

                h5 {
                    margin: 0;
                    font-size: 12px;
                    letter-spacing: 2px;
                    line-height: 18px;
                }

                h1 {
                    margin: 0;
                    font-size: 20px;
                    line-height: 28px;
                }

                p {
                    color: $white;
                    font-size: 12px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.more-from-sm {
    background: #fff9f9;
    display: none;

    span {
        margin-top: 40px;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.51px;
        letter-spacing: 1.5px;

        position: relative;
        left: -3%;
    }

    .container {
        padding: 40px 0 0 0;
    }

    &__cards {
        display: flex;
        justify-content: center;
    }

    &__card {
        width: 311px;
        margin: 40px 12.5px 20px 12.5px;
        text-align: center;

        img,
        h2 {
            width: auto;
        }

        img {
            margin-bottom: 40px;
        }

        h2 {
            letter-spacing: normal;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 1.6px;
        }
    }

    @include respond(tablet) {
        background: $white;
        span {
            margin-left: 25px;
        }
        &__cards {
            flex-wrap: wrap;
            padding: 0;
        }
        &__card {
            width: 160px;
            margin: 8px;

            img {
                height: 245px;
                width: 160px;
                margin-bottom: 17px;
            }

            h2 {
                margin-bottom: 32px;
            }
        }
    }
}
