.index {
    & > .banner__shadow-gradient {
        top: 163px;

        @include respond(tablet) {
            display: none;
        }
    }
}

.gift-section {
    background: #fff9f9;
    h2,
    h4,
    h5 {
        margin: 0;
    }

    @include respond(mobile) {
        display: none;
    }

    & > .container {
        padding-top: 4%;

        @include respond(tablet) {
            max-width: 1024px;
        }

        & .center {
            text-align: center;
            padding: auto;
            margin: auto;
        }
    }

    &__heading {
        padding-bottom: 3.5%;

        & > h2 {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 4px;
        }
    }

    &__cards {
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
    }

    &__card {
        background: $white;
        border-radius: 4px;
        padding: 0;
        width: 392px;
        margin: 0 12px;

        @include respond(tablet) {
            width: 302px;

            & > img {
                width: inherit;
                height: auto;
            }
        }

        &-description {
            padding: 18px 24px 32px 18px;
            p {
                margin-top: 2%;
                margin-bottom: 10%;
            }

            & .red {
                color: $blood-red;
            }
        }
    }
}

.order-gift-section {
    background: $white;
    h2,
    h5 {
        margin: 0;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 4px;
        padding-top: 60px;
    }

    h5,
    p {
        color: $dark-gray;
    }

    button {
        display: flex;
        color: $black;
        border: 1px solid black;
    }

    .container {
        padding: 2%;
        padding-top: 0;
        max-width: 1280px;
        padding-bottom: 60px;

        @include respond(tablet) {
            max-width: 1024px;
        }

        & .center {
            text-align: center;
            padding: auto;
            margin: auto;
        }
    }

    &__heading {
        padding-bottom: 3.5%;
    }

    &__cards {
        display: flex;
        justify-content: center;
        width: inherit;
    }

    &__card {
        // display: flex;
        // flex-direction: column;
        // flex-basis: 50%;
        background: $white;
        border-radius: 4px;
        padding: 0;
        width: auto;
        margin: 0 12px;

        &-image1,
        &-image2 {
            cursor: pointer;
            width: 600px;
            height: 300px;
            background-position: center;

            @include respond(tablet) {
                width: 480px;
                height: 240px;
            }

            h2 {
                position: relative;
                top: 35%;
                left: 3%;
                color: $white;
                width: 300px;
            }
        }

        &-image1 {
            background-image: url("../images/cards/card-order-gift1.png");
        }

        &-image2 {
            background-image: url("../images/cards/card-order-gift2.png");
        }

        &-description {
            p {
                margin: 5%;
                margin-bottom: 40px;
                text-align: center;
            }
        }
    }

    @include respond(mobile) {
        .container {
            padding: 15% 3%;
        }

        h2 {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 1.6px;
        }

        h5 {
            font-size: 16px;
            padding: 0 13px;
        }

        &__cards {
            flex-wrap: wrap;
        }

        &__card {
            &-image1,
            &-image2 {
                width: auto;
                height: 82px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                h2 {
                    line-height: 24px;
                    width: 166px;
                    top: 55%;
                    bottom: auto;
                    transform: translate(0, -50%);
                    right: -23%;
                    left: auto;

                    @include respond(mobile) {
                        right: -9%;
                        left: auto;
                    }

                    @include respond(320px) {
                        right: -4%;
                        left: auto;
                    }
                }
            }

            &-image1 {
                background-image: url("../images/cards/card-order-gift1-m.png");
            }

            &-image2 {
                background-image: url("../images/cards/card-order-gift2-m.png");
            }

            &-description {
                p {
                    margin: 5% 0;
                    font-size: 16px;
                }
            }
        }
    }
}

.f-video {
    height: 584px !important;
    background: #ffd95a;

    &__pink {
        background: $blush-pink;
        padding: 6%;
        width: 689px;
        height: 446px;
        float: right;

        color: $white;

        p {
            color: $white;
        }

        & .bee {
            color: $bee;
        }
    }

    &__video {
        img {
            position: relative;
            left: 8%;
            margin-top: 3.5%;
        }
    }
}

.featured-categories {
    background: $white;

    h2,
    h3,
    h5 {
        margin: 0;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 4px;
    }

    a,
    a:hover,
    a:visited {
        text-decoration: none;
    }

    .container {
        padding: 5%;

        & .center {
            text-align: center;
            padding: auto;
            margin: auto;
        }
    }

    &__heading {
        padding-bottom: 3.5%;
    }

    &__cards {
        display: flex;
        justify-content: center;
    }

    &__card {
        border-radius: 4px;
        padding: 0;
        width: 311px;
        margin: 0 12px;

        &-description {
            h2 {
                margin: 8%;
                text-align: center;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 1.6px;
            }
        }
    }

    @include respond(tablet) {
        .container {
            padding: 10% 0;
        }

        &__heading {
            margin: 2% 0;
            h2 {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 1.6px;
                margin: 2% 0;
            }
        }

        &__cards {
            flex-wrap: wrap;
            width: 100%;
        }

        &__card {
            width: 160px;
            margin: 8px;

            img {
                width: 160px;
                height: 245px;
            }
        }
    }
}

.mobile-sm-cares {
    display: none;
    padding: 10% 0;

    @include respond(tablet) {
        display: flex;
    }

    & .container {
        max-width: 360px;

        @include respond(320px) {
            max-width: 320px;
        }
    }

    &__controllers {
        float: right;
        button {
            background: transparent;
            margin-left: 32px;
            margin-top: 12px;
        }
    }

    &__heading {
        text-align: center;
        margin: 10% 0;

        h2 {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 1.6px;
        }
    }

    &__cards {
        width: 100%;
    }

    &__card {
        img {
            width: 336px;
            height: 268px;

            @include respond(320px) {
                width: 296px;
                height: 228px;
            }
        }

        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 336px;
            height: 268px;
            position: absolute;
            z-index: 10;
            color: $white;

            @include respond(320px) {
                width: 296px;
                height: 228px;
                font-size: 20px;
            }
        }
    }

    .container {
        .controllers {
            float: right;

            button {
                background: transparent;
                margin-left: 32px;
                margin-top: 32px;
            }
        }
    }
}
.sm-cares {
    @include respond(tablet) {
        display: none;
    }

    background: #fff9f9;

    h2,
    h5 {
        margin: 0;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 4px;
    }

    h3 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 4px;

        @include respond(mobile) {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 1.6px;
        }
    }

    .container {
        padding: 5%;

        & .center {
            text-align: center;
            padding: auto;
            margin: auto;
        }
    }

    &__heading {
        padding-bottom: 3.5%;
    }

    &__cards {
        display: flex;
        justify-content: center;
    }

    &__card {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin: 0 12px;
        }

        h3 {
            position: absolute;
            z-index: 10;
            color: $white;
        }
    }
}
