.promo {
    &__banner {
        margin-top: -573px;
        position: relative;
        width: 100%;
        z-index: 40;

        @include respond(tablet) {
            margin-top: -616px;
        }

        @include respond(mobile) {
            margin-top: -616px;
        }

        & > div {
            margin: 0 auto;
            width: 1314px;
            background-color: $opal;
            height: 550px;
            display: flex;
            flex-flow: row wrap;
            padding: 42px 47px 0 67px;

            @include respond(tablet) {
                width: 80%;
                margin: auto;
                padding: 19px 0 16px 19px;
                flex-direction: column-reverse;
                justify-content: flex-end;
                height: 600px;
            }

            @include respond(mobile) {
                width: 94%;
                margin: auto;
                // height: 424px;
                padding: 19px 0 16px 19px;
                flex-direction: column-reverse;
                justify-content: flex-end;
                height: 600px;
            }

            & > div.image-container {
                display: flex;
                background: red;
                flex: 1;
                overflow: hidden;

                & > img {
                    position: relative;
                    width: auto;

                    @include respond(1024px) {
                        position: relative;
                        top: 120px;
                    }

                    @include respond(tablet) {
                        padding: 0;
                        top: 0;
                        position: relative;
                        width: 80%;
                        height: auto;
                        margin: auto;
                    }

                    @include respond(mobile) {
                        width: 329px;
                        margin: 0;
                        top: 0;
                        display: flex;
                        align-self: flex-end;
                    }
                }
            }

            .featured-events__slider {
                margin-left: 490px !important;

                @include respond(tablet) {
                    margin-left: 0 !important;
                    position: absolute;
                }
            }

            .featured-events__footer {
                flex: 1 0 100%;
                display: flex;
                justify-content: flex-end;

                @include respond(tablet) {
                    bottom: 20px;
                }
            }
        }

        &-text {
            margin-top: 92px;
            width: 490px;
            height: 336px;
            display: flex;
            flex-direction: column;
            z-index: 40;
            justify-content: space-between;

            @include respond(tablet) {
                margin-top: 0;
                width: 100%;
                position: absolute;
                top: 354px;
            }

            @include respond(mobile) {
                height: min-content;
                position: absolute;
                top: 354px;
            }

            & > h1 {
                @include respond(tablet) {
                    margin-top: 20px;
                    font-size: 32px;
                    line-height: 40px;
                }

                &.font-hero {
                    & > span {
                        color: #403f47;
                    }
                }

                &.font-titan {
                    display: block;
                    color: $coral;

                    @include respond(mobile) {
                        letter-spacing: 1.6px;
                    }

                    & > span {
                        color: $black;

                        @include respond(tablet) {
                            display: contents;
                        }
                    }
                }
            }

            & > p {
                text-align: right;
                width: 100%;
                padding-right: 32px;

                @include respond(tablet) {
                    width: auto;
                    margin-right: 20px;
                    text-align: left;
                    margin: 8px 0;
                }
            }

            & > a {
                width: 241px;
                height: 48px;
                align-self: flex-end;
                margin-right: 32px;

                @include respond(mobile) {
                    align-self: flex-start;
                }
            }
        }
    }
}
