#carouselWrapper {
  position: relative;
  overflow: hidden;
}
#carousel {
  position: absolute;
  visibility: hidden;
}

.vertical-carousel-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    & > img {
      width: 12px;
    }
  }
}

.my-basket-modal {
  background-color: white;
  padding: 15px;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);
  border-radius: 4px;
  top: 0;
  max-width: 92vw;

  & > .top {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;

      & > img {
        margin-right: 8px;
      }
    }

    & > button {
      background: transparent;

      & > img {
        width: 12px;
        height: 12px;
      }
    }
  }

  & > .buttons-container {
    display: flex;
    flex-flow: column-reverse;
  }
}

.product {
  width: 100%;
  background-color: $light-periwinkle;
  min-height: calc(100vh - 160px);
  height: fit-content;

  // Styling for My basket dropdown
  &--small {
    display: flex;
    padding: 24px 0 16px 0;

    position: relative;

    & > button {
      position: absolute;
      top: 5px;
      right: 16px;
      background-color: transparent;
    }

    & > div {
      display: flex;
      flex-flow: column;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-style: normal;
      justify-content: space-between;
      padding-left: 30px;
      flex: 1;

      & .item-category {
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        color: #88898f;
      }

      & .item-name {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #403f47;
      }

      & .item-details {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #88898f;

        & > .value {
          font-weight: bold;
        }
      }

      & .item-price {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #403f47;
        margin-top: 14px;
        flex: 1;

        & > span {
          display: flex;
          margin-left: auto;
        }
      }
    }
  }

  &--small + .buttons-container {
    display: flex;

    & > .sm-button {
      flex: 1;

      &:first-child {
        margin-right: 12px;
        width: 200px;
        max-width: 200px;

        @include respond(mobile) {
          width: 100%;
          max-width: unset;
          margin: 0;
        }
      }

      &:last-child {
        padding-left: 12px;
        width: 162px;
        max-width: 162px;
        @include respond(mobile) {
          width: 100%;
          max-width: unset;
          margin: 0;
          margin-bottom: 16px;
        }
      }
    }
  }

  &-similar--small {
    & > hr {
      margin-top: 16px;
      margin-bottom: 24px;
      border: 1px solid #e0e0e0;
    }

    & > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > p {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        color: #161720;
      }
    }

    & > .product--small {
      padding-bottom: 0;

      & > img {
        max-width: 120px;
      }

      & > div {
        justify-content: unset;

        & > .item-price {
          margin-top: auto !important;
          flex: unset;
        }
      }
    }
  }

  // Styling for My basket dropdown

  // override padding of sibling section
  & + .delivery__featured {
    & .slick-current.slick-active {
      @media only screen and (max-width: 414px) {
        width: calc(100vw - 156px) !important;
      }
    }

    & .delivery__featured-slider {
      & .carousel__item__link {
        @media only screen and (max-width: 414px) {
          max-width: 180px;
        }
      }
    }

    div {
      padding-top: 0;
      padding-bottom: 0;

      & > .delivery__featured-controls {
        top: 37%;
      }
    }
  }

  & .branch_select {
    height: 40px;
    max-width: 550px;
    width: 100%; /*change from 122px to 170*/
    padding: 8px 0 8px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../assets/images/icons/icon-search-black.svg") 96%/3% no-repeat $white;
    border: 1px solid $gray;
    outline: none;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;

    & > optgroup[label] {
      font-weight: bold;

      & > option {
        font-size: 14px;
        line-height: 22px;
        color: #161720;
        padding: 16px 20px;

        &[label] {
          color: #161720;
          font-style: normal;
          font-size: 14px;
          line-height: 22px;
          color: #161720;
          padding: 16px 20px;
        }

        // &[label][disabled] {
        //   color: #88898f;
        //   font-style: italic;
        // }
      }
    }
  }

  & > div {
    max-width: 1400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 80px;

    @include respond(mobile) {
      padding: 0 0 60px 0;
    }

    & > .blue-background {
      position: absolute;
      left: 0;
      right: 0;
      top: 120px;
      z-index: 0;
      background-color: #397cee;
      height: 220px;

      @include respond(mobile) {
        display: none;
      }
    }
  }

  &-details {
    z-index: 10;
    width: 100%;

    @include respond(mobile) {
      & > .nav-tabs,
      & > .nav-tabs-content {
        display: none;
      }
    }

    & > div {
      background-color: white;

      // overwrite default background of breadcrumb
      & > .breadcrumb {
        background-color: white;
      }
    }

    & > .item {
      padding: 20px 40px;
      display: flex;

      @include respond(medium-screen) {
        flex-flow: column;
      }

      @include respond(tablet) {
        flex-flow: column;
      }

      @include respond(mobile) {
        padding: 0;
        flex-flow: column;
      }

      & > .bx-wrapper {
        margin: 0;

        @media only screen and (min-width: 1224px) {
          display: none;
        }

        @include respond(medium-screen) {
          & .bx-controls-direction {
            display: none;
          }

          & .bx-pager {
            bottom: 30px;
          }
        }
      }

      // mobile dropdown
      & > .delivery__mechanics {
        display: none;

        @include respond(mobile) {
          display: block !important;
          order: 4;

          & > div {
            padding: 0;
            padding-top: 40px;

            & > .accordion.active {
              & .font-headline-bold {
                font-weight: bold;
              }
            }

            & > .accordion {
              margin: 0;

              & > .accordion__content {
                padding: 0 !important;

                & > p {
                  padding: 24px;
                  font-family: "Open Sans", Helvetica, Arial, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 24px;
                  color: #403f47;
                }
                & > .blue-box {
                  display: flex;
                  flex-flow: column;
                  align-items: center;
                  padding: 12px;
                  background: #18489a;

                  & > img {
                    width: fit-content;
                  }

                  & > p {
                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #ffffff;
                    margin-top: 19px;
                  }
                }
              }
            }
          }

          & .accordion__header {
            border-radius: 0;
          }
        }
      }

      & > .item__variants {
        display: flex;
        flex-flow: column;
        margin-right: 24px;
        justify-content: center;

        @include respond(medium-screen) {
          display: none;
        }

        @include respond(mobile) {
          margin-right: 0;
          flex-flow: row;
          justify-content: space-evenly;
          margin: 16px 0;
          order: 2;
          display: none;
        }

        & > img {
          width: 104px;
          min-width: 104px;
          max-width: 104px;
          height: auto;
          object-fit: cover;
          margin-bottom: 16px;
          box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);

          border: 2px solid transparent;

          @include respond(mobile) {
            min-width: unset;
            width: 90px;
            margin-bottom: 0;
          }

          &:hover {
            // border: 2px solid #0797ff;
            border-color: #0797ff;
          }

          &.active {
            // border: 2px solid #0797ff;
            border-color: #0797ff;
          }
        }
      }

      & > .item__image {
        display: flex;
        flex: 1;

        & > img {
          max-width: 500px;
        }

        @include respond(mobile) {
          order: 1;
          display: none;

          img {
            width: 100%;
          }
        }
      }

      & > .item__details {
        display: flex;
        flex: 1;
        flex-flow: column;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        padding: 24px;
        margin-left: 40px;
        justify-content: center;

        @include respond(tablet) {
          margin-left: 0;
        }

        @include respond(mobile) {
          padding: 24px 12px;
          margin: 0;
          order: 3;
        }

        & > p {
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 1.6px;
          text-transform: uppercase;
          color: #88898f;
          margin-bottom: 6px;

          @include respond(mobile) {
            text-align: center;
          }
        }

        & > h1 {
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;
          color: #403f47;
          margin-bottom: 16px;

          @include respond(mobile) {
            text-align: center;
          }
        }

        & > hr {
          height: 1px;
          color: #e0e0e0;
          background-color: #e0e0e0;
          border: none;
        }

        & > .row {
          display: flex;
          padding: 0;
          margin: 24px 0;

          & p {
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            text-transform: capitalize;
            color: #161720;
            margin-bottom: 6px;
          }

          & > .col {
            display: flex;
            flex-flow: column;
            flex: 1;
            margin-right: 16px;

            &.quantity-select {
              flex: 0 0 100px;

              & .custom-select {
                min-width: 100px;
              }
            }

            &:last-child {
              margin-right: 0;
            }

            @include respond(mobile) {
              height: 80px;

              &:nth-child(1) {
                margin-right: 8px;
              }

              &:nth-child(2) {
                margin-right: 0;
                margin-left: 8px;
              }

              &:nth-child(3) {
                margin-top: 20px;
                flex-basis: 100%;
              }
            }
          }
        }

        & > .row.servicing-branch {
          flex-flow: column;
          margin-top: 0;

          // & > input {
          //   background:  90% / 8% no-repeat black;
          //   padding-left: 30px;
          // }

          & > input[type="text"] {
            background: url("../../assets/images/icons/icon-search-black.svg") 96%/3% no-repeat $white;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            border: 1px solid #88898f;
            height: 40px;

            &::placeholder {
              font-family: "Open Sans", Helvetica, Arial, sans-serif;
              font-style: italic;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #88898f;
            }
          }
        }

        & > .delivery-box {
          background-color: #faf3f0;
          padding: 16px;

          & > p {
            display: flex;
            align-items: center;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #161720;

            & > img {
              margin-right: 8px;
            }

            &:last-child {
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #403f47;
              margin-top: 8px;
            }
          }
        }

        & > .buttons-container {
          display: flex;
          margin-top: 24px;

          @include respond(mobile) {
            flex-wrap: wrap-reverse;
          }

          & > button {
            max-width: 230px;

            &:last-child {
              margin-left: 24px;

              @include respond(mobile) {
                margin: 0;
                margin-bottom: 24px;
              }
            }

            @include respond(mobile) {
              max-width: unset;
              width: 100%;
            }
          }
        }
      }
    }

    & > .nav-tabs {
      padding: 0 80px;
      padding-top: 40px;

      & > ul {
        margin: 0 !important;
      }
    }

    & > .nav-tabs-content {
      padding: 32px 80px 40px 80px;

      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;

      & > p {
        font-size: 16px;
        line-height: 24px;
        color: #403f47;
        padding-bottom: 40px;
      }

      & > .blue-box {
        background: #18489a;
        padding: 38px 32px;
        display: flex;
        align-items: center;

        & > p {
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding-left: 24px;
        }
      }
    }
  }
}
